
.brand{
		background: #cbb09c !important;
	}
.brand-text{
		color: #cbb09c !important;
	}
  table{
	  width:100%;
	  margin:10px;
  }
	form{
		max-width: 600px;
		margin: 20px auto;
		padding: 20px;
	}

	body {
	  background-color: lightgray;
	  margin: 0;
	  padding: 0;
  }
  
  .navbar {
	  background-color: aliceblue;
  }
  .loggedInStatus {
	  color:black;
	  font-size: 12pt;
	  font-family: "Arial Black";
	  font-family: 'Lato', sans-serif;
	  vertical-align: center;
	  padding-top: 13px;
  }
  .shouts-nav {

	  color:black;
	  font-weight: bold;
	  font-size: 16pt;
	  font-family: "Arial Black";
	  font-family: 'Lato', sans-serif;
	  margin-top: 10px;
	  margin-left: 20px;
	  line-height:2.2em;
  }

  .centerContent {
	  margin: 20 auto;
	  padding: 20px;
	  width: 90%;
	  text-align: center;
	  background-color: transparent;/* white;*/
  }
  form {
	  text-align: left;
  }
  .errorMessage {
	  font-weight: bold;
	  background-color: yellow;
	  color: red;
  }
  #comment {
	  width: 500px !important;
	  margin-left:30px;
	  margin-top:50px;
  }
  