{% extends "master.html.twig" %}

{% block title %}teamproject_emall{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
          
        $(document).ready(function(){
            $('input[name=username').on('keyup keypress change cut paste ',function(){
                var username = $('input[name=username]').val();
                $('#isTaken').load("/register/isusernametaken/" + username);

            });
        });
        
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });

    </script>
{% endblock %}
{% block content %}

{% if errorsArray %}
    <ul class="errorMessage">
        {% for error in errorsArray %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <form method="post" enctype="multipart/form-data" class="card">
        Username: <input type="text" name="username" value="{{ v.username }}" >
        <span class="errorMessage" id="isTaken"></span><br>
        Email: <input type="text" name="email" value="{{ v.email }}"/></br>
        Password: <input type="password" name="pwd1"></br>
        Password(repeat): <input type="password" name="pwd2"></br>
        <input type="submit" value="Register!"></br>
        <p>Already have an account? <a href="/login">Sign-In</a></p>
    </form>
{% endblock %}