{% extends "master.html.twig" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function increment(id) {
            var value = $("input[name=quantity" + id + "]").val();
            value++;
            $("input[name=quantity" + id + "]").val(value);
            $("#update" + id).show();
        }
        function decrement(id) {
            var value = $("input[name=quantity" + id + "]").val();
            if (value > 0) {
                value--;
            }
            $("input[name=quantity" + id + "]").val(value);
            $("#update" + id).show();
        }
        function update(e,id) {
            e.preventDefault();
            var quantity = $("input[name=quantity" + id + "]").val();
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/cart/update/" + id + "/" + quantity,
                type: "PATCH",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (subtotal) {
                $("#update" + id).hide();
                $("#subtotal").html(subtotal);
            });

            /*$.get("/cart/update/" + id + "/" + quantity, function() {
                console.log("quantity updated");
                $("#update" + id).hide();
            });*/
            if (quantity == 0) {
                $("#itemrow" + id).hide();
            }
        }

        function toggleCheck(e,id) {
            //e.preventDefault();
            
            var status = $("input[name=chkCartItem" + id + "]").prop("checked")?1:0;
            // console.log($("input[name=chkCartItem" + id + "]").prop("checked"));
            // alert("status is " + $("input[name=chkCartItem" + id + "]").attr('name'));

            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/cart/status/" + id + "/" + status,
                type: "PATCH",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            });

        }

        function toggleCheckSeller(e, id) {
            //e.preventDefault();
            var status = $("input[name=chkSeller" + id + "]").prop("checked")?1:0;
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/cart/statusstore/" + id + "/" + status,
                type: "PATCH",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            });
            var table= $("#tableSeller" + id);
            // var table= $(e.target).closest('table');
            // alert(table.attr('id'));
             $('td input[type=checkbox]',table).prop('checked',$("input[name=chkSeller" + id + "]").prop("checked"));
            /*if (status==1) {
                console.log("table id is " + $('#tableSeller3').attr('id'));
                alert("name is " + $("#tableSeller3 > tr > td > input[type='checkbox']:eq(1)").attr('name'));
                alert("name is " + $("#tableSeller" + id + " input[type=checkbox]:eq(1)").attr('name'));
                    $("#tableSeller" + id + " input[type=checkbox]").prop('checked', true);
                } else {
                    $("#tableSeller" + id + " input[type=checkbox]").prop('checked', false);
                }*/
        }

        $(document).ready(function () {
            getItemCount();
            
            $(".updateLink").hide();
            $('.cartQuantity').bind('propertychange change input paste', function () {
                var id = $(this).attr('cartId');
                $("#update" +id).show();
            });
            $("input[name=chkSelectAll]").change(function(){
                if (this.checked) {
                    $("input[type=checkbox]").prop('checked', true);
                } else {
                    $("input[type=checkbox]").prop('checked', false);
                }
                var status = this.checked?1:0;
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/cart/statusall/" + status,
                    type: "PATCH",
                    dataType: "json",
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block title %}Cart{% endblock %}

{% block content %}
{#    <% foreach cartitemBySeller in cartitemBySellerList %>
        <div>cartitemBySeller.sell#}
    
            
    <input type="checkbox" name="chkSelectAll">Select all<br>
     {% for seller in sellerList %}
     
     <div><input type="checkbox" name="chkSeller{{ seller.id }}" onclick="toggleCheckSeller(event,{{seller.id}})" checked>Seller: {{ seller.name }}</div>
     <hr>
    <table  class="table-cart table-striped" id="tableSeller{{ seller.id }}" >
        <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>quantity</th>
                <th>Subtotal</th>
        </tr>
        {% for ci in cartitemList %}
            {% if ci.sellerId == seller.id %}
                <tr id="itemrow{{ci.id}}">
                    <td>
                        <input type="checkbox" name="chkCartItem{{ci.id }}" onclick="toggleCheck(event,{{ci.id}});" checked>
                        <a href="/product/{{ci.productId}}" target="_blank" style="display:inline">
							<span class="productimg">
								<img width="50" height="50" title="{{ ci.name }}" alt="{{ ci.name }}" src="data:image/png;base64, {{ci.picture}}" style="display: inline;">
							</span>{{ci.name}}
						</a>
                    </td>
                    <td>{{ci.unitPrice}}</td>
                    <td><button onclick="decrement({{ci.id}})">-</button>
                        <input class="cartQuantity" cartId="{{ci.id}}" type="number" name="quantity{{ci.id}}"
                            value="{{ci.quantity}}" style="width:50px;">
                        <button onclick="increment({{ci.id}})">+</button>
                        <a href="" class="updateLink" id="update{{ci.id}}"
                            onclick="update(event,{{ci.id}})">update</a>
                    </td>
                    <td id="subtotal">{{ci.unitPrice * ci.quantity}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table><br>
    {% endfor %}
 
   <div class="text-center"><a type="submit" href="/order" style="background-color:rgb(121, 121, 241); height:36px;border-radius:2px;padding:5px;color:white">Place order</a></div>
        
        
{% endblock %}