{% extends "master.html.twig" %}

{% block title %}Manage categories{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
          
        $(document).ready(function(){
            var currentPage = 1;
            var parentId=0;
            function loadProductPage(parentId, page) {
                // remove style pageLinkCurrent on currentPage
                $("#pageLink"+currentPage).removeClass("pageLinkCurrent");
                currentPage = page;
                $("#pageLink"+currentPage).addClass("pageLinkCurrent");
                $("#categoryTable").load("/ajax/categorylist/" + parentId + "/" + page);
            }
            loadProductPage(0, 1);
            $('#categoryUl li').click(function(){
                parentId = $(this).val();
                //console.log(parentId);
                
                $('#categoryTable').load("/ajax/categorylist/" + parentId + "/1");
            });
            var returned = 0;
            $( "#categoryTable" ).on( "mouseenter", ".pageLink", function( event ) {
                if (returned == 1) { // return from inside event, do another return to avoid event being trigged twice
                    returned = 0;
                    return;
                }
                $('.pageLink').click(function(){
                var pageidx = $(this).val();
                console.log("span value:");
                    console.log(pageidx);
                    console.log("parentId:");
                    console.log(parentId);
                    if (pageidx == "0") { // prev
                        if (currentPage==1){
                            returned = 1;
                            return;
                        } else {
                            currentPage-=1;
                        }
                        console.log("prev clicked: currentPage:");
                        console.log(currentPage);
                    } else if (pageidx == "-1")  { //next
                        if ($(this).prev('li').val() == currentPage){
                            returned = 1;
                            return;
                        } else {
                            currentPage+=1;
                        }
                        console.log("next clicked:currentPage:");
                        console.log(currentPage);
                    } else {
                        console.log("page clicked:currentPage:");
                        console.log(currentPage);
                        currentPage = pageidx;
                    }
                    $("#categoryTable").load("/ajax/categorylist/" + parentId + "/" + currentPage);
                    console.log("list loaded");
                    
                    // $tds = $row.find("td"); 
                });
            });
            //$('#categoryTable').load("/ajax/loadSubCategories");
            // delegated event
            /*$( "#categoryTable" ).on( "click", "input", function( event ) {
                $('input[type=button]').click(function(){
                var $item = $(this).closest("tr")   // Finds the closest row <tr> 
                        .find(".nr")     // Gets a descendent with class="nr"
                        .text();         // Retrieves the text within <td>
                    console.log($item);
                    $('#lblStatus').load("/admin/categories/delete/" + $item);
                    $(this).closest('tr').remove();
                    // $tds = $row.find("td"); 
                });
            });
            
            
            $('#categoryUl li').click(function(){
                var $id = $(this).val();
                console.log($id);
                $param = $id == 0? "":("/by/"+$id);
                $('#categoryTable').load("/ajax/loadSubCategories" + $param);
            });
            */

        });
       
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });

    </script>
    <!--style>
        .service-bd li {
            overflow: hidden;
            line-height: 32px;
            height: 32px;
            padding-left: 25px;
            padding-right: 19px;
            position: relative;
            font-size: 14px;
            font-weight: 400;
            width: 145px;
            color: #666;
            display: list-item;
            text-align: -webkit-match-parent
        }
    </style-->
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-3 sidebar">
        <div class="side row">
            <ul class="sideul service-bd" role="menubar" id="categoryUl">
                <li role="menuitem" value="0">Show all</li>
                {% for category in categoryList %}
                    <li role="menuitem" value={{ category.id }}>{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div> <!-- end sidebar -->
    <div class="col-9">
    
        <div class="row">
            <div class="col-12">
            
                <!--ul class="nav nav-fill w-100"> 
                <li>Manage categories</li>
                <li class="nav-item"><a href="/admin/categories/add" class="btn brand z-depth-0">Add Category</a></li>
                <li class="nav-item"><a href="/admin/categories/delete" class="btn brand z-depth-0">Delete</a></li>
                </ul--> 
            </div> <!-- end manage row -->
            <div id="categoryTable" class="col-12"></div>
        </div><!-- end div row -->
    </div>
</div> <!-- end div row -->
            
{% endblock %}