{% if subCategoryList %}
    <table border="1" width="100%">
        <tr>
            <th>id</th>
            <th>category name</th>
            <th>operation</th>
        </tr>
        {% for subCategory in subCategoryList %}
            <tr>
                <td class="nr">{{ subCategory.id }}</td>
                <td>{{ subCategory.name }}</td>
                <!--td><input type="button" value="Delete"  onclick="deleteRow(this)" /></td-->
                <!--td><input type="button" value="double click to Delete" /></td-->
                <td style="width:300px">
                    <button onclick="window.location='/admin/categories/delete/{{subCategory.id}}';"  class="emall-button">Delete</button>
                    <!-- method 3 - form with submit button -->
                    <form style="display:inline"  action="/admin/categories/edit/{{subCategory.id}}">
                        <input type="submit" value="Edit" class="emall-button">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <ul class="pageDiv float-left mt-3">

        <li class="pageLink" value="0"><< </li>

        {% for page in 1 .. totalPages %}
                <li id="pageLink{{page}}" class="pageLink" value={{page}}">{{page}}</li>
        {% endfor %}

        <li class="pageLink" value="-1"> >></li>

        </ul>
        <button type="button" class="btn btn-light float-right"><a href="/admin/categories/add" class="btn brand z-depth-0">Add Category</a></button>
        <span id="lblStatus">
    </table>
{% endif %}