{% extends "master.html.twig" %}

{% block title %}Emall{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
          
        $(document).ready(function(){
            $('input[name=categoryname').on('keyup keypress change cut paste ',function(){
                // putting blur on event list will cause ajax error as submit will call this function but frame changed
                var categoryname = $('input[name=categoryname]').val();
                if (categoryname.includes("/")){
                    //categoryname = categoryname.replace("/","\\/");
                    //console.log("name is " + categoryname);
                    return;
                }
                $('#isExist').load("/admin/iscategoryexist/" + categoryname);

                //var  = $('input[name=email]').val();
                //$('#isTaken').load("/register/isemailregistered/" + email);

            });
        });
        
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url + thrownError);
            alert("Ajax error occured");
        });
    </script>
{% endblock %}
{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

    <form method="post" class="card">
        Parent category:
        <select name="comboCategory">
            <option value="0">--Select parent category--</option>
            {% for category in categoryList %}
                <option value={{ category.id }}>{{ category.name }}</option>
            {% endfor %}
        </select>
        Category Name: <input type="text" name="categoryname"><br>
        <span class="errorMessage" id="isExist"></span><br>
        <input type="submit" value="Add">
    </form>
{% endblock %}