{% extends "master.html.twig" %}

{% block title %}Emall{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
          
        $(document).ready(function(){
            var name = $('input[name=categoryname').val();
            $('input[name=categoryname').on('keyup keypress change cut paste ',function(){
                // putting blur on event list will cause ajax error as submit will call this function but frame changed
                var categoryname = $('input[name=categoryname]').val();
                if (categoryname.includes("/")|| categoryname == name){
                    //categoryname = categoryname.replace("/","\\/");
                    //console.log("name is " + categoryname);
                    return;
                }
                $('#isExist').load("/admin/iscategoryexist/" + categoryname);
            });
        });
        
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url + thrownError);
            alert("Ajax error occured");
        });
    </script>
{% endblock %}
{% block content %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}

    <form method="post" class="card">
        <p>Category id: {{ currCategory.id}}</p>
        Parent category:
        <select name="comboCategory">
            <option value="0">--Select parent category--</option>
                {% for category in categoryList %}
                    {% if currCategory.parentId == category.id %}
                        <option value={{ category.id }} selected>{{ category.name }}</option>
                    {% else %}
                        <option value={{ category.id }}>{{ category.name }}</option>
                    {% endif %}}
                {% endfor %}
        </select><br>
        Category Name: <input type="text" name="categoryname" value={{ currCategory.name }}><br>
        <span class="errorMessage" id="isExist"></span><br>
        <input type="submit" value="Save"><br>
        <input type="button" onclick="window.location='/admin/categories/list'" value="Cancel">
    </form>

{% endblock %}