{% extends "master.html.twig" %}

{% block content %}
    <p>Are you sure you want to delete the following category?</p>
    <p>{{category.id}}: {{category.name}}</p>
    <br>
    <button style="margin-right: 20px" onclick="window.location='/admin/categories/list'">Cancel</button>
    <form style="display:inline" method="post" action="/admin/categories/delete/{{category.id}}">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete forever">
    </form>
{% endblock %}