{% extends "master.html.twig" %}

{% block title %}Forbidden{% endblock %}

{% block content %}

<p>Access forbidden. You may need to be logged in to access.</p>
    <p><a href="/">Click here</a> to continue.</p>
    <img src="/images/forbidden.png" width="200">
{% endblock %}
