{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}
<p>Internal error occured. Our team of Coding Ninjas has been notified.</p>
<p><a href="/">Click here</a> to continue.</p>
 <img src="/images/ninja.png" width="200">
{% endblock %}