{% extends "master.html.twig" %}

{% block title %}Page not found - 404{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Page Not found - 404</h1>
    <p>We can't find what you're looking for.</p>
    <p><a href="/">Click here</a> to continue.</p>
    <img src="/images/notfound.png" width="50%">
</div>
{% endblock %}

