{% extends "master.html.twig" %}

{% block title %}teamproject_emall{% endblock %}
{% block head %}   {% endblock %}
{% block content %}
 <div class="row">
    <div class="d-none d-lg-block col-lg-2 sidebar">
        <div class="side row">
            <!--ul class="sideul"-->
            <div class="ml-2">
                {% for category in categoryList %}
                    <!--li>{{ category.name }}</li-->
                    <div class="dropdown">
                        <button class="dropbtn"  onclick="window.location='/products/list/{{category.id}}';"  >{{ category.name }}</button>
                        <div class="dropdown-content">
                            {% for subCategory in category.subCategoyList %}
                                <a href="/products/list/{{ subCategory.id }} ">{{ subCategory.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--/ul-->
        </div>
    </div>
    <div class="col-12 col-lg-9"><!-- slider of events upcoming -->
        <div class="row">
            <div class="col-12">
                <!-- slick carousel -->
                <div class="slider-photos mt-1">
                {% for product in productList %}
                    <div id="img-{{product.id}}" class="card bg-dark text-white text-center">
                        <div><img src="data:image/png;base64, {{product.picture}}" width="300" height="300" alt="slider Image"
                                class="card-img" /></div>
                        <div class="card-img-overlay">
                            <h3 style="color:black">Top popularity!</h5>
                            <h5 style="color:black">Most popular {{product.name}} !<br>Up to {{ product.discount }} off!</h6><br><br>
                            <button type="button" onclick="window.location='/products/list/{{product.categoryId}}';" class="card-text btn btn-light btn-lg" style="background-color:rgba(223, 237, 241,0.5);">Shopping
                                now!</button>
                        </div>
                    </div>
                {% endfor %}
                </div>
                
            </div>
                <!--div class="slider-photos mt-1">
                    <div id="img-1" class="card bg-dark text-white text-center">
                        <div><img src="data:image/png;base64, {{product.picture}}" width="850" height="300" alt="slider Image"
                                class="card-img" /></div>
                        <div class="card-img-overlay">
                            <h5 class="card-title">New arrival!</h5>
                            <p class="card-text">Welcome to Tom's store!<br>Up to 50% off till 20/05/2020!</p>
                            <button type="button" class="card-text btn btn-success btn-lg">Shopping
                                now!</button>
                        </div>
                    </div>
                    <div id="img-2" class="card bg-dark text-white text-center">
                        <div><img src="./images/store2.jpg" width="850" height="300" alt="slider Image"
                                class="card-img" /></div>
                        <div class="card-img-overlay">
                            <h5 class="card-title">Fill your wardrobe!</h5>
                            <p class="card-text">Welcome to Tom's store!<br>Up to 50% off till 20/05/2020!</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                        </div>
                    </div>
                    
                </div>
                
            </div-->

        </div> <!-- end row for slider -->
    </div> <!-- end col-lg-9 -->
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
    <!-- slick JS -->
    <script src="slick/slick.min.js"></script>
    <script>
        /* slick init */
        $(document).ready(function () {
            $('.output').hide();
            $('#btnShowAll').hide();
            $('.slider-photos').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true,
                arrows: true
            });

            /*$(".pagination a").click(function () {
                var pos = Number($(this).text());
                //console.log("pos is " + pos);
                //$('.your-element').slick('setPosition');
                //$('.slider-photos').slick('setPosition');
                $('.slider-photos').slick('slickGoTo', pos - 1);

                $(".pagination a").prop("class", "");
                $(this).prop("class", "active");

            });
            // On before slide change
            $('.slider-photos').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                //console.log("number is " + nextSlide);
                $(".pagination a").prop("class", "");
                var text = String(nextSlide + 1);
                //$(".pagination a:contains(text)").prop("class", "active"); // variable in contains doesn't work
                //$(".pagination a:contains('1')").prop("class", "active"); // this works
                $(".pagination a").each(function () {
                    if ($(this).text().includes(text)) {
                        $(this).prop("class", "active");
                    }
                });
            });*/
            $('#btnSearch').click(function () {
                $(this).hide();
                $("input[name=filterInput").hide();
                $('#btnShowAll').show();
                var res = "";
                var th = "<tr><th>Date</th><th>Description</th><th class='d-none d-md-table-cell'>Type</th><th class='d-none d-md-table-cell'>Location</th></tr >";
                $("tr").each(function () {
                    var str = $(this).text().toUpperCase();

                    console.log("str is " + str);
                    if (str.includes($("input[name=filterInput").val().toUpperCase())) {
                        res += "<tr>" + $(this).html() + "</tr>";
                    }
                });
                if (res == "") {
                    res = "No event found.";
                } else {
                    res = th + res;
                }
                $('.event').hide();
                $('#output').html(res);
                $('.output').show();
            });
            $('#btnShowAll').click(function () {
                $(this).hide();
                $("input[name=filterInput").show();
                $('.event').show();
                $('#output').html("");
                $('.output').hide();
                $('#btnSearch').show();
            });
            function filter() {
                $("#travelsList option").each(function () {
                    var splitStr = $(this).text().split(":");
                    var res = splitStr[1].substring(1, 36);
                    console.log("res is " + res);
                    if (res.includes($("input[name=filterInput").val())) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

        });
    </script>
{% endblock %}