{% extends "master.html.twig" %}

{% block title %}Emall-login{% endblock %}
{% block head %}
<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
        <script>
          $(document).ready(function(){
            $("input[name=username]").val("Momo");
            $("input[name=pwd]").val("aA123$");
          });
        </script>
{% endblock %}
{% block content %}


    <form method="post" class="card">
        User Name: <input type="text" name="username" value="{{ v.username }}" ><br>
        Password: <input type="password" name="pwd"></br>
        <div class="g-recaptcha" data-sitekey="6LcvdPgUAAAAAHWpGESoFnQO2cny1ZiFkf1A-yIb"></div><br>
        <input type="submit" value="Login" class="btn btn-primary"> <br>
        <input type="button" onclick="window.location = '{{ loginURL }}'" value="Log In With Google" class="btn btn-danger">
        {% if error %}
            <br><p class="text-center errorMessage">Login failed. You may try again.</p>
        {% endif %}
    </form>
{% endblock %}