<!DOCTYPE html>
<html>
    <head>
        <!--link rel="stylesheet" href="/styles.css" /-->
        <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
        

        <!-- Css Styles -->
        <link rel="icon" href="/images/Logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <title>{% block title %}Default{% endblock %}teamproject_emall</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container emall-bg">
            <!--header-->
            <div class="row  emall-header-bg h100">
                <div class="col-1 col-md-1 text-left emall-margin-top"><a href="/" target="_self"><img
                            src="/images/Logo.png" width="120" height="120" alt="logo"></a></div>
                
                <!--div class="col-12 emall-header-space d-md-none"></div-->
                <div class="col-11 text-left mt-1">
                    <div class="row">
                        <nav class="col-8 offset-1 navbar navbar-expand-sm navbar-success bg-trans bg-lg-trans">
                            <div>
                                <button class="navbar-toggler emall-nav" type="button" data-toggle="collapse"
                                    data-target="#navbar1">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbar1">
                                    <ul class="navbar-nav nav nav-fill w-100">
                                        <li class="nav-item">
                                            <a class="nav-link emall-nav brown" href="/" target="_self">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link emall-nav brown" href="/admin/categories/list" target="_self">Categories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link emall-nav brown" href="/stores" target="_self">Stores</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link emall-nav brown" href="/contactus" target="_self">Customer service</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link emall-nav brown" href="/account" target="_self">My account</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="col-3 text-right mt-3">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white"></i></a>
                            <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white"></i></a>
                            <a href="https://vimeo.com/"><i class="fab fa-vimeo-v fa-lg white"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white"></i></a>
                            <a href="https://foursquare.com/"><i class="fab fa-foursquare fa-lg white"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 offset-1 emall-margin-top">
                            <input type="text" class="form-control" placeholder="Search product" name="txtSearch">
                        </div>
                        <div class="col-1 text-right text-md-left emall-margin-top">
                            <button type="submit" class="btn-light">Search</button>
                        </div>
                        <div class="col-3 text-right mt-2">
                            {% if userSession %}
                                <div class="loggedInStatus mt-2">
                                <p>Welcome, {{ userSession.username }}!  <a href="/logout" class="text-white">logout</a></p>
                                </div>
                                
                            {% else %}
                                <div class="nav-item"><a href="/login"  class="emall-nav">login</a> /
                                <a href="/register" class=" emall-nav">register</a></div>
                                
                            {% endif %}
                        </div>
                        <div class="col-1 text-right mt-3">
                            <div class="row">
                                <div id="divCart"  class="col-6 text-left">
                                    <a href="/cart" target="_self">
                                        <img src="/images/Cart.png" width="20" height="20" alt="cart">
                                    </a>
                                    <span id="itemCount">0</span>
                                </div>
                                <select id="comboLang" class="col-3 text-right">
                                    <option value="En">En</option>
                                    <option value="Fr">Fr</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            
            
            {% block content %}
            {% endblock %}

            <!--footer-->
            <div class="row emall-footer emall-margin-top emall-margin-bottom">
                <div class="col-12 col-md-6 mt-4">
                    <div class="row">
                        <form action="http://jac.stephmoreau.ca/submitForm/" method="POST"></form>
                        <div class="col-12 bold white">Subscribe to us for updates on our events!</div>
                        <div class="col-7 emall-margin-top">
                            <input type="text" class="form-control" placeholder="Please enter your email." name="Email">
                        </div>
                        <div class="col-3 text-right text-md-left emall-margin-top">
                            <button type="submit" class="btn">Subscribe</button>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-md-1">
                    <div class="row text-left">
                        <div class="col-12"><label class="white bold mt-2">Phone:</label><label
                                class="white">(514)666-8888</label></div>
                        <div class="col-12"><label class="white bold">Address:</label><label class="white">123 Street, NS,
                                H7T 5Y6</label></div>
                        <div class="col-12"><label class="white bold">Hours of Operation:</label></div>
                        <div class="col-12"><label class="white ">Monday to Friday &nbsp;&nbsp;</label><label
                                class="white">9:00am - 17:00pm</label></div>
                    </div>
                </div>
                <div class="col-12 emall-white-line emall-margin-top"></div>
                <div class="col-12 col-md-6 white bold big text-center text-md-left emall-margin-top emall-margin-bottom">
                    &copy;EMall</div>
                <div class="col-12 col-md-6 text-center text-md-right emall-margin-top emall-margin-bottom">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f fa-lg white"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter fa-lg white"></i></a>
                    <a href="https://vimeo.com/"><i class="fab fa-vimeo-v fa-lg white"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg white"></i></a>
                    <a href="https://foursquare.com/"><i class="fab fa-foursquare fa-lg white"></i></a>
                </div>
            </div>
        </div>
    </body>

</html>