{% extends "master.html.twig" %}

{% block title %}Placing order{% endblock %}

{% block content %}
    <h3>Confirm shipping information:</h3>
    <form method="POST">
        <div class="lbl">Name:</div><div class="input"><input type="text" name="name" value="{{userSession.username}}" ></div><br><br>
        <div class="lbl">Address:</div><div class="input"><input type="text" name="address" value="{{userSession.address}}, {{userSession.city}}, {{userSession.province}}"></div><br><br>
        <div class="lbl">Postal code:</div><div class="input"><input type="text" name="postalCode" value="{{userSession.postalCode}}"></div><br><br>
        <div class="lbl">Email:</div><div class="input"><input type="email" name="email" value="{{userSession.email}}"></div><br><br>
        <div class="lbl">Phone number:</div><div class="input"><input type="text" name="phoneNumber" value="{{userSession.phoneNo}}"></div><br>
        <input type="submit" value="Place order">
    </form>
    <h3>Confirm product information:</h3>
    {% for seller in sellerList %}
    <div>Seller: {{ seller.name }}</div>
    <table  class="table-cart" id="tableSeller{{ seller.id }}" >
        <tr>
                <th>Product name</th>
                <th>Unit Price</th>
                <th>quantity</th>
                <th>Subtotal</th>
        </tr>
        {% for ci in cartitemList %}
            {% if ci.sellerId == seller.id %}
                <tr id="itemrow{{ci.id}}">
                    <td>{{ci.name}}</td>
                    <td>{{ci.unitPrice}}</td>
                    <td>
                        {{ci.quantity}}
                    </td>
                    <td>{{ci.unitPrice * ci.quantity}}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table><br>
    {% endfor %}
    <div class="text-right">
        <p>Total value before tax: ${{ totalBeforeTax }}.</p>
        <p>Shipping before tax: ${{ shippingBeforeTax }}.</p>
        <p>Taxes (GST/QST/HST): ${{ taxes }}. </p>
        <p>Amount to be paid:
            <b>${{ totalWithShippingAndTaxes }}</b>.
        </p>
    </div>
{% endblock %}