{% extends "master.html.twig" %}


{% block title %}Order
	{{order.id}}
{% endblock %}
{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
        var ratedIndex = -1, uID = 0;
        var rating = 0;
        var productId = 0;
        var orderId = 0;
        var orderitemId = 0;
        $(document).ready(function () {
            resetStarColors();
            /*
            if (localStorage.getItem('ratedIndex') != null) {
                setStars(parseInt(localStorage.getItem('ratedIndex')));
                uID = localStorage.getItem('uID');
            }

            $('.fa-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
               localStorage.setItem('ratedIndex', ratedIndex);
               saveToTheDB();
            });*/
            $('.fa-star').on('click', function () {
               ratedIndex = parseInt($(this).data('index'));
               rating = ratedIndex+1;
            });
            $('.fa-star').mouseover(function () {
                resetStarColors();
                var currentIndex = parseInt($(this).data('index'));
                setStars(currentIndex);
            });

            $('.fa-star').mouseleave(function () {
                resetStarColors();

                if (ratedIndex != -1)
                    setStars(ratedIndex);
            });

            $('#btnSubmit').click(function() {
                var review = $('textarea[name=taReview]').val();
                var reviewObj = { productId: productId,review: review, rating:rating, orderId:orderId};
                var dataString = JSON.stringify(reviewObj);

                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/reviews/" + orderitemId,
                    type:  "POST",
                    dataType: "json",
                    data: dataString,
                    error: function (jqxhr, status, errorThrown) {
                         alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function () {
                    alert("Review posted successfully");
                    // reset variables
                    ratedIndex = -1;
                    resetStarColors();
                    $('#reviewPane').hide();
                    $('textarea[name=taReview]').val("");
                });
            });

            $('#btnCancel').click(function() {
                ratedIndex = -1;
                resetStarColors();
                $('#reviewPane').hide();
                $('textarea[name=taReview]').val("");
            });
        });

        function setStars(max) {
            for (var i=0; i <= max; i++)
                $('.fa-star:eq('+i+')').css('color', 'yellow');
        }

        function resetStarColors() {
            $('.fa-star').css('color', 'grey');
        }

        function showReviewPane(pId, oId, oiId) {
            resetStarColors();
            productId = pId;
            orderId = oId;
            orderitemId = oiId;
            console.log("orderItem id is " + orderitemId + ", productId is " + productId + ", orderId is " + orderId);
            $('#reviewPane').show();
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/product/"+productId,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (product) {
                $('#productImg').html('<img width=\"150\" height=\"150\" alt=\"photo\" '
                        + 'src=data:image/png;base64,' + product.picture + '  style="display: inline-block;\">');
                $('#prodId').html(product.name + '<br>    Seller: ' + product.sellerName);
            });
            
            
        }
	</script>
{% endblock %}
{% block content %}
    <div id="reviewPane" class="grayOut-review">
        <div id="msgBox" >
            <div id="productInfo" style="width:300px;display: inline-block">
            
                <h5>
                    How do you like this product?
                </h5>
            
            
                <div id="productImg" style="text-align:center">
                    <!--img width="50" height="50" title="{{ oi.name }}" alt="{{ oi.name }}" src="data:image/png;base64, {{oi.picture}}" style="display: block;"-->
                </div>
                <h5 id="prodId"></h5>
            </div>
            <hr>
            
            <div id="rating">
                <div align="center" style="color:gray;">
                    <label style="font-size:20px;color:black">Select rating:</label>
                    <i class="fa fa-star fa-2x" data-index="0"></i>
                    <i class="fa fa-star fa-2x" data-index="1"></i>
                    <i class="fa fa-star fa-2x" data-index="2"></i>
                    <i class="fa fa-star fa-2x" data-index="3"></i>
                    <i class="fa fa-star fa-2x" data-index="4"></i>
                    <br>
                </div>
            </div>
            <hr>
            <h5>Welcome leaving your review:</h5>
            <div id="review" style="padding:0">
                <textarea name="taReview" style="margin:0;width:80%;height:100px"></textarea>
            </div>
            <hr>
            <button id="btnSubmit" class="btn btn-primary">Submit review</button>
            <button id="btnCancel" class="btn btn-primary">Cancel</button>
        </div>
    </div> <!-- end reviewPane -->

	<h5>Order number:
		{{order.id}}</h5>
	<h6>Place date:
		{{order.orderTime}}</h6>
	<h6>Seller:
		{{order.sellerId}}</h6>
    <h6>Total Amount:
        <b>${{ order.total }}</b>
    </h6>
	{% if order.orderStatus =="placed" %}
		Your order hasn't be paid yet:
		<a href="/pay/{{order.id}}">Make payment</a><br>
    {% else %}
        <p>Order status:{{order.orderStatus}}</p>
	{% endif %}
	<hr>
	{% if orderitemList %}

		<table class="table-cart table-striped">
			<tr>
				<th>picture</th>
				<th>Product name</th>
				<th>Unit Price</th>
				<th>quantity</th>
				<th>Subtotal</th>
				{% if order.orderStatus =="delivered" %}
					<th>Operation</th>
				{% endif %}

			</tr>
			{% for oi in orderitemList %}
				<tr id="itemrow{{oi.id}}">
					<td>
						<a href="/product/{{oi.productId}}" target="_blank" style="display:inline">
							<span class="productimg">
								<img width="50" height="50" title="{{ oi.name }}" alt="{{ oi.name }}" src="data:image/png;base64, {{oi.picture}}" style="display: block;">
							</span>
						</a>
					</td>
					<td>{{oi.name}}</td>
					<td>{{oi.unitPrice}}</td>
					<td>{{oi.buyCount}}</td>
					<td>{{oi.subtotal}}</td>
					
                    {% if oi.reviewed == "1" %}
                        <td>
                            <!--button onclick="showReviewPane({{oi.productId}}, {{oi.orderId}}, {{oi.id}})">Review posted</button-->
                            Review posted
						</td>
                    {% elseif order.orderStatus =="delivered" %}
                    <td>
                        <button onclick="showReviewPane({{oi.productId}}, {{oi.orderId}}, {{oi.id}})" class="btn-light">Write a review</button>
                    </td>
					{% endif %}
				</tr>
			{% endfor %}
		</table><br>
		<div class="text-right">
			<p>Total value before tax: ${{ order.totalBeforeTax }}</p>
			<p>Shipping before tax: ${{ order.shippingBeforeTax }}</p>
			<p>Taxes (GST/QST/HST): ${{ order.taxes }}</p>
			<p>Total Amount:
				<b>${{ order.total }}</b>
			</p>
		</div>
		

	{% endif %}

{% endblock %}
