{% extends "master.html.twig" %}

{% block title %}Order placed.{% endblock %}

{% block content %}

<p>Order placed successfully. <a href="/pay/{{orderId}}">Click here</a> to pay.</p>

{% endblock %}