{% extends "master.html.twig" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        function detail(e,id) {
            e.preventDefault();
            
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/cart/update/" + id + "/" + quantity,
                type: "PATCH",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function () {
                // show order detail
            });

        }
    </script>
{% endblock %}

{% block title %}My orders{% endblock %}

{% block content %}

    
    <h3 style="text-align:center">My orders</h3>
    <hr>
    <table  class="table-cart" >
        <tr>
                <th>Order#</th>
                <th>Place date</th>
                <th>Total amount</th>
                <th>Status</th>
                <th>Operation</th>
        </tr>
        {% for order in orderList %}
                <tr id="itemrow{{order.id}}">
                    <td>{{order.id}}</td>
                    <td>{{order.orderTime}}</td>
                    <td>{{order.total}}</td>
                    <td>{{order.orderStatus}}</td>
                    {% if order.orderStatus =="placed" %}
                    <td>
                        <a href="/orderdetail/{{order.id}}">Detail</a> /
                        <a href="/pay/{{order.id}}">Make payment</a>
                    </td>
                    {% else %}
                    <td>
                        <a  href="/orderdetail/{{order.id}}">View order detail</a> 
                    </td>
                    {% endif %}
                </tr>
        {% endfor %}
    </table><br>
 
{% endblock %}