{% extends "master.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
       
        $(document).ready(function(){
            getItemCount();
            var currentPage = 1;
            var categoryId=$('#currCategory').val();
            var productId;
            function loadProductPage(categoryId, page) {
                // remove style pageLinkCurrent on currentPage
                $("#pageLink"+currentPage).removeClass("pageLinkCurrent");
                currentPage = page;
                $("#pageLink"+currentPage).addClass("pageLinkCurrent");
                $("#productTable").load("/ajax/productlist/" + categoryId + "/" + page);
            }
             loadProductPage(categoryId, 1);
            $('#productUl li').click(function(){
                categoryId = $(this).val();
                //console.log(categoryId);
                
                $('#productTable').load("/ajax/productlist/" + categoryId + "/1");
            });
            var returned = 0;
            $( "#productTable" ).on( "mouseenter", ".pageLink", function( event ) {
                if (returned == 1) { // return from inside event, do another return to avoid event being trigged twice
                    returned = 0;
                    return;
                }
                $('.pageLink').click(function(){
                    var pageidx = $(this).val();
                
                    if (pageidx == "0") { // prev
                        if (currentPage==1){
                            returned = 1;
                            return;
                        } else {
                            currentPage-=1;
                        }
                        console.log("prev clicked: currentPage:");
                        console.log(currentPage);
                    } else if (pageidx == "-1")  { //next
                        if ($(this).prev('li').val() == currentPage){
                            returned = 1;
                            return;
                        } else {
                            currentPage+=1;
                        }
                        console.log("next clicked:currentPage:");
                        console.log(currentPage);
                    } else {
                        console.log("page clicked:currentPage:");
                        console.log(currentPage);
                        currentPage = pageidx;
                    }
                    $("#productTable").load("/ajax/productlist/" + categoryId + "/" + currentPage);
                    console.log("list loaded");
                    
                    // $tds = $row.find("td"); 
                });
            });
            $('#btnSubmit').click(function() {
                productId=$('#prodId').html();
               console.log("productid is " + productId);
                var quantity = $("input[name=quantity]").val();
                var cartitem = { "productId": productId, "quantity": quantity }; // "" is not necessary
                var cartitemJson = JSON.stringify(cartitem);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/addtocart",
                    type: "POST",
                    dataType: "json",
                    data: cartitemJson,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function (data) {
                    var itemCount = jQuery.parseJSON(data);
                    //alert("item count is " + itemCount);
                    // reset variables
                        $('#addPanel').hide();
                        $('input[name=quantity]').val("1");
                    $('#itemCount').text(itemCount);
                });

               
            });

            $('#btnCancel').click(function() {
                $('#addPanel').hide();
                $('input[name=quantity]').val("1");
            });
            /*var cartItemAdded = 0;
            $( "#productTable" ).on( "mouseenter", ".addtocart", function( event ) {
                if (cartItemAdded == 1) { // return from inside event, do another return to avoid event being trigged twice
                    cartItemAdded = 0;
                    return;
                }
                $(".addtocart").click(function () {
                    var productId = $(this).val();
                    var quantity = $(this).prev('input').val();

                    var cartitem = { "productId": productId, "quantity": quantity }; // "" is not necessary
                    var cartitemJson = JSON.stringify(cartitem);
                    $.ajax({ // FIXME: escape special characters using urlencode
                        url: "/api/addtocart",
                        type: "POST",
                        dataType: "json",
                        data: cartitemJson,
                        error: function (jqxhr, status, errorThrown) {
                            alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function () {
                        refreshCart();
                        cartItemAdded=1;
                        return;
                    });

                });// end save clicked
                
            });// end delegated event to .addtocart
            */
            
        });
       
        /*$(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });*/
        function showAddPanel(pId) {
            
            // productId = pId; // this will not put pId into productId as this function is loaded in later loaded product list in "product_list_load.html.twig"
            $('#addPanel').show();
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/product/"+pId,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (product) {
                $('#productImg').html('<img width=\"150\" height=\"150\" alt=\"photo\" '
                        + 'src=data:image/png;base64,' + product.picture + '  style="display: inline-block;\">');
                $('#prodName').html(product.name );
                $('#prodId').html(product.id );
            });
            //productId = product.id;
        }
        /*function addToCart(productId) {
            var quantity = $("input[name='quantity"+productId+ "']").val();
            var cartitem = { "productId": productId, "quantity": quantity }; // "" is not necessary
            var cartitemJson = JSON.stringify(cartitem);
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/addtocart",
                type: "POST",
                dataType: "json",
                data: cartitemJson,
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (data) {
                var itemCount = jQuery.parseJSON(data);
                //alert("item count is " + itemCount);
                $("input[name='quantity"+productId+ "']").val("0");
                $('#itemCount').text(itemCount);
            });

        }*/

        
    </script>
    
{% endblock %}
{% block content %}
    <div id="addPanel" class="grayOut-review">
        <div id="msgBox" >
            <div id="productInfo" style="width:300px;display: inline-block">
            
                <h5>
                    Adding to cart...
                </h5>
            

                <div id="productImg" style="text-align:center">
                    <!--img width="50" height="50" title="{{ oi.name }}" alt="{{ oi.name }}" src="data:image/png;base64, {{oi.picture}}" style="display: block;"-->
                </div>
                <h5 id="prodName"></h5>
                id:<span id="prodId"></span>
            </div>
            <hr>
            <h5>Quantity:</h5>
            <div id="review" style="padding:0">
                <input class="cartQuantity" type="number" name="quantity" style="width:50px;" value="1">
            </div>
            <hr>
            <button id="btnSubmit" class="btn btn-primary">Add to cart</button>
            <button id="btnCancel" class="btn btn-primary">Cancel</button>
        </div>
    </div> <!-- end addPanel -->
    <div class="row">
        <div class="col-2 sidebar">
            <div class="side row">
                <ul class="sideul service-bd" role="menubar" id="productUl">
                    <li role="menuitem" id="currCategory" value={{ category.id }}>Show all {{ category.name }} </li>
                    {% for subCategory in subCategoryList %}
                        <li role="menuitem" value={{ subCategory.id }}>{{ subCategory.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- end sidebar -->
        <div class="col-9">
        
            <div class="row">
                <div class="col-12">
                
                    <!--ul class="nav nav-fill w-100"> 
                    <li>Manage categories</li>
                    <li class="nav-item"><a href="/admin/categories/add" class="btn brand z-depth-0">Add product</a></li>
                    <li class="nav-item"><a href="/admin/categories/delete" class="btn brand z-depth-0">Delete</a></li>
                    </ul--> 
                </div> <!-- end manage row -->
                <div id="productTable" class="col-12"></div>
            </div><!-- end div row -->
        </div>
    </div> <!-- end div row -->
<!-------test ---------------->

{% endblock %}