{% if productList %}
    <ul id="productList">
        {% for product in productList %}
            <li id="prod{{product.id}}" class="li-img text-center"> 
                <a href="/product/{{product.id}}" target="_blank" style="display:inline"> 
                <span class="productimg"> 
                    <img width="150" height="150" title="{{ product.name }}" alt="{{ product.name }}" 
                    src="data:image/png;base64, {{product.picture}}"  style="display: block;"> 
                </span>
                <span class="productname">{{ product.name }}</span> </a><br>
                <font>CA$ {{ product.unitPrice }} / {{ product.unit }}</font> 
                
                <font class="salesvolume">sold <span class="sales">{{ product.salesCount }}</span></font> </span> <br>
                
                <!--div><div class="addtocart" onclick="window.location='/addtocart/{{product.id}}';">add to cart</div></div-->
                
                <div style="display:block;text-align:center">
                <!--input type="number" style="display:inline-block;width:50px" value="0" name="quantity{{product.id}}"-->
                <button class="addtocart" value={{ product.id }} onclick="showAddPanel({{product.id}});">add to cart</button>
                </div>

                <!--a href="/product/{{product.id}}">
                                <figure>

                                    <img  alt="pic of {{ product.name }}" src="{{product.picture}}" 
                                         width="300" height="300"
                                         title="{{ product.name }}" />
                                    <figcaption>{{ product.name }}</figcaption>

                                </figure>
                </a-->
            </li>
        {% endfor %}
    </ul>
        
            
        
    <ul class="pageDiv float-left mt-3">

    <li class="pageLink" value="0"><< </li>

    {% for page in 1 .. totalPages %}
            <li id="pageLink{{page}}" class="pageLink" value={{page}}">{{page}}</li>
    {% endfor %}

    <li class="pageLink" value="-1"> >></li>

    </ul>
    <span id="lblStatus">

{% endif %}