{% extends "master.html.twig" %}


{% block title %}Order
	{{order.id}}
{% endblock %}
{% block head %}
        <style>
        .card{text-align: center; border: none; border-radius: 5px;-webkit-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
            box-shadow: 12px 14px 22px 2px rgba(0,0,0,0.75);
            margin-bottom: 100px;
        }
        </style>
        {% set rating = product.rating %}
        {% set reviews = reviewList %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
        // Run getRatings when DOM loads
            //document.addEventListener('DOMContentLoaded', getRatings);
            var starPercentageRounded;
            var productId;
             function getRatings(rating) {
                
                    // Get percentage
                    const starPercentage = (rating / 5) * 100;
                    // Round to nearest 10
                    starPercentageRounded = Math.round(starPercentage / 10) * 10 +"%";
                    // Set width of stars-inner to percentage
                    $('.stars-inner').css({'width':starPercentageRounded});
                    //console.log(starPercentageRounded);
                    // Add number rating
                    //document.querySelector(`.${rating} .number-rating`).innerHTML = ratings[rating];
                }
            
            $(document).ready(function () {
           /* var cw = $('img').width();
            $('img').css({'height':cw+'px'});*/
            var rating =  "{{ rating }}";
            // Total Stars
             getRatings(rating);
            $('.stars-inner').css({'width':starPercentageRounded});
            $('#number-rating').html(rating);
            
            /*for (let review in reviews) {
                getRatings(review['rating']);
                $('#starsInner'+review['id']).css({'width':starPercentageRounded});
            }*/
            /*var divs = document.querySelectorAll('[class*="stars-inner-review"]');
            console.log(divs);
            for (let d in divs) {
                console.log(d.text);
                getRatings(d.text);
                d.css({'width':starPercentageRounded});
            }*/
            $('#btnSubmit').click(function() {
               
                var quantity = $("input[name=quantity]").val();
                var cartitem = { "productId": productId, "quantity": quantity }; // "" is not necessary
                var cartitemJson = JSON.stringify(cartitem);
                $.ajax({ // FIXME: escape special characters using urlencode
                    url: "/api/addtocart",
                    type: "POST",
                    dataType: "json",
                    data: cartitemJson,
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                    }
                }).done(function (data) {
                    var itemCount = jQuery.parseJSON(data);
                    //alert("item count is " + itemCount);
                    // reset variables
                        $('#addPanel').hide();
                        $('input[name=quantity]').val("1");
                    $('#itemCount').text(itemCount);
                });

               
            });

            $('#btnCancel').click(function() {
                $('#addPanel').hide();
                $('input[name=quantity]').val("1");
            });
        });
        function showAddPanel(pId) {
            productId = pId;
            $('#addPanel').show();
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/product/"+productId,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (product) {
                $('#productImg').html('<img width=\"150\" height=\"150\" alt=\"photo\" '
                        + 'src=data:image/png;base64,' + product.picture + '  style="display: inline-block;\">');
                $('#prodId').html(product.name );
            });}
            /*function addToCart(productId) {

            var quantity = $("input[name='quantity"+productId+ "']").val();
            var cartitem = { "productId": productId, "quantity": quantity }; // "" is not necessary
            var cartitemJson = JSON.stringify(cartitem);
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/addtocart",
                type: "POST",
                dataType: "json",
                data: cartitemJson,
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (data) {
                var itemCount = jQuery.parseJSON(data);
                //alert("item count is " + itemCount);
                $("input[name='quantity"+productId+ "']").val("1");
                $('#itemCount').text(itemCount);
            });

            }*/
        </script>
	{% endblock %}
{% block content %}
	<body>
		<div id="addPanel" class="grayOut-review">
            <div id="msgBox" >
                <div id="productInfo" style="width:300px;display: inline-block">
                
                    <h5>
                        Adding to cart...
                    </h5>
                
                
                    <div id="productImg" style="text-align:center">
                        <!--img width="50" height="50" title="{{ oi.name }}" alt="{{ oi.name }}" src="data:image/png;base64, {{oi.picture}}" style="display: block;"-->
                    </div>
                    <h5 id="prodId"></h5>
                </div>
                <hr>
                <h5>Quantity:</h5>
                <div id="review" style="padding:0">
                    <input class="cartQuantity" type="number" name="quantity" style="width:50px;" value="1">
                </div>
                <hr>
                <button id="btnSubmit" class="btn btn-primary">Add to cart</button>
                <button id="btnCancel" class="btn btn-primary">Cancel</button>
            </div>
        </div> <!-- end addPanel -->
        <div style="width:80%; margin:0 auto">
            <div class="container mt-5" >
                <div class="row">
                    <div class="col-md-12">
                        {{product.name}}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="productimg">
                            <img width="200" height="200" title="{{ product.name }}" alt="{{ product.name }}" src="data:image/png;base64, {{product.picture}}" style="display: block;">
                        </span>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2>{{ product.name }}</h2>
                        </div>
                        <div class="row">
                            <h3>
                                
                                $
                                {{product.unitPrice}}</h3>
                            &nbsp; &nbsp;
                            <h5>
                                {{product.unit}}.
                            </h5>
                            &nbsp; &nbsp;
                            <!--h2 class="text-success">{{product.discount}} off</h2-->
                        </div>
                        <div class="row">
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>&nbsp;
                            <span id="number-rating"></span>&nbsp; &nbsp;
                            <h6>{{product.reviewCount}} star ratings and reviews</h6>
                        </div>
                        
                        <div class="row mt-1">
                            <h4>Seller: &nbsp; &nbsp;</h4>
                            <p style="font-size: 18px">{{product.sellerName}}
                            </p>
                        </div>
                        <div class="row mt-1">
                        <!--input type="number" style="display:inline-block;width:50px" value="1" name="quantity{{product.id}}"-->
                        <a class="btn btn-primary text-light" value={{ product.id }}  onclick="showAddPanel({{product.id}})" ><!-- onclick="addToCart({{product.id}});"-->
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Add To Cart</a>
                            
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="container">
                <div class="row mt-1">
                    <h3>Similar Products</h3>
                </div>

                <div class="row mt-2">
                    {% for similar in similarList %}
                    <div class="col-md-2">
                        <div class="card">
                            <img class="card-img-top img-fluid" style="height:150px;width:150px;" src="data:image/png;base64, {{similar.picture}}">
                            <div class="card-title">
                                <h5>{{similar.name}}</h5>
                            </div>
                            <div class="card-text">
                                
                                <a class="btn btn-light text-blue">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Add To Cart</a>
                                <br/><br/>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <hr>
            <div class="container mt-2 mb-5">
                <div class="row">
                    <h3>Ratings & Reviews</h3>
                </div>
                {% for review in reviewList %}
                <div class="row mt-3 mb-1">
                    <div class="media">
                        <span>{{review.username}}:</span>
                        <div class="media-body">
                            <h6 class="mt-0">
                                <div class="stars-outer">
                                    <div class="stars-inner-review" style="width:{{review.percentage}}">{{review.rating}}</div>
                                    <span id="review{{review.id}}" hidden>{{review.rating}}</span>
                                </div>&nbsp;<br>
                                <span style="font-size:15px">Wrote on {{review.creationTime}}: </span>
                                <em>&apos;{{review.review}}&apos;</em>
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


