{% extends "master.html.twig" %}

{% block title %}Say Hello{% endblock %}

{% block content %}
<p>Registration successful. User {{ v.username }} created. <a href="/login">Click here</a> to login</p>
{% endblock %}