{% extends "seller-base.html.twig" %}
{% block head %}
 <script>
 {% if seller %}
    var selectOrderId;
    $(document).ready(function(){
        $("#menuOrderHistory").addClass("active");
        loadOrders("month");
        loadOrders("quarter");
        loadOrders("year");
        $(document).on('click', '.order tr', function (e) {
                e.stopPropagation();
                var currentRow=$(this).closest("tr"); 
                var id=  currentRow.attr("order-id");

                if("0"==id)
                {
                    clearOrderItems();
                }
                else
                {
                    selectOrderId=id;
                    loadOrderItems(id);
                }
        });
        $(".nav-link").click(function(){
              clearOrderItems();
        });
        $("#btnSearchOrder").click(function(){
            if(selectOrderId)
            {
                var startDate=$("input[name=startDate]").val();
                var endDate=$("input[name=endDate]").val();
                if(!startDate||!endDate)return;
                
              
                $.ajax({ 
                url: `/api/seller/orders/time/anyTime/0/${startDate}/${endDate}`,
                type: "GET",
                dataType: "json",
                 error: function (jqxhr, status, errorThrown) {
                    
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                
                }
                }).done(function (orders) {
                      $("#orderAnyTimeBody").html("");
                orders.forEach(order => {
                    var row= `<tr order-id="${order.id}">
                                <td>${order.buyerName}</td>
                                <td>${order.orderTime}</td>
                                <td>${order.total}</td>
                                <td>${order.recieverName}</td>
                                <td>${order.shippingAddress}</td>
                                <td>${order.postalcode}</td>
                                <td>${order.phoneNo}</td>
                            </tr>`;
                   $("#orderAnyTimeBody").append(row);
                
                });

                }).always(function () {
                   
                });
            }
        });
    });
    function loadOrders(period)
    {

         $.ajax({ 
            url: `/api/seller/orders/time/${period}/0`,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            
            }
        }).done(function (orders) {
         
            var destTableBody;
            console.log(orders);
            
            
            switch (period) {
                case "month":
                    destTableBody=$("#orderThisMonthBody");
                    break;
               case "quarter":
                    destTableBody=$("#orderThisQuarterBody");
                    break;
               case "year":
                    destTableBody=$("#orderThisYearBody");
                    break;
                default:
                    break;
            }

            if(destTableBody)
            {
                 $(destTableBody).html("");
                orders.forEach(order => {
                    var row= `<tr order-id="${order.id}">
                                <td>${order.buyerName}</td>
                                <td>${order.orderTime}</td>
                                <td>${order.total}</td>
                                <td>${order.recieverName}</td>
                                <td>${order.shippingAddress}</td>
                                <td>${order.postalcode}</td>
                                <td>${order.phoneNo}</td>
                            </tr>`;
                    $(destTableBody).append(row);
                  
                });
            }

        }).always(function () {
            
            
            
        });
    

    }
    
    function loadOrderItems(orderId)
    {
         $.ajax({ 
            url: "/api/seller/orderitems/"+orderId,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            
            }
        }).done(function (orderItems) {
            $("#orderItems").html("");
           
            orderItems.forEach(item => {
                var row= `<tr orderitem-id="${item.id}">
                            <td>${item.productName}</td>
                            <td>${item.unitPrice}</td>
                            <td>${item.buyPrice}</td>
                            <td>${item.buyCount}</td>
                            <td>${item.subtotal}</td>
                        </tr>`;
                $("#orderItems").append(row);
            });
            $("#divOrderItems").removeClass("invisible");
            $("#divOrders").removeClass("col-lg-12")
            $("#divOrders").addClass("col-lg-8")
          

        }).always(function () {
            
            
            
        });

    }
    function clearOrderItems()
    {
        
        $("#orderItems").html("");
        $("#divOrderItems").addClass("invisible");
     
         $("#divOrders").removeClass("col-lg-8")
         $("#divOrders").addClass("col-lg-12")
       
        selectOrderId=0;
     }

 {% endif %}
</script>
{% endblock %}

{% block main %}
    {% if seller %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Orders History</h3>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div id="divOrders" class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#orderThisMonth">This Month</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#orderThisQuarter">This Quarter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#orderThisYear">This Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#orderAnyTime">Any Time</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="orderThisMonth" class="container-fluid tab-pane active border border-light">
                    <table class="table order table-striped table-hover table-bordered">
                        <thead>
                            <tr order-id="0">
                                <th>Buyer Name</th>
                                <th>Order Time</th>
                                <th>Total</th>
                                <th>Reciever Name</th>
                                <th>Shipping Address</th>
                                <th>Postal Code</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody id="orderThisMonthBody">
                        
                        </tbody>
                    </table>
                </div>
                <div id="orderThisQuarter" class="container-fluid tab-pane border border-light">
                    
                    <table class="table order table-striped table-hover table-bordered">
                        <thead>
                            <tr order-id="0">
                                <th>Buyer Name</th>
                                <th>Order Time</th>
                                <th>Total</th>
                                <th>Reciever Name</th>
                                <th>Shipping Address</th>
                                <th>Postal Code</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody id="orderThisQuarterBody">
                        
                        </tbody>
                    </table>
                </div>
                <div id="orderThisYear" class="container-fluid tab-pane border border-light">
                    <table class="table order table-striped table-hover table-bordered">
                        <thead>
                            <tr order-id="0">
                                <th>Buyer Name</th>
                                <th>Order Time</th>
                                <th>Total</th>
                                <th>Reciever Name</th>
                                <th>Shipping Address</th>
                                <th>Postal Code</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody id="orderThisYearBody">
                        
                        </tbody>
                    </table>

                </div>
                    <div id="orderAnyTime" class="container-fluid tab-pane border border-light">
                    <div>
                        From Date: <input type="date" name="startDate">
                        To Date: <input type="date" name="endDate">
                        <button type="button" class="btn btn-primary" id="btnSearchOrder">Search</button>
                    </div>
                    <table class="table order table-striped table-hover table-bordered">
                        <thead>
                            <tr order-id="0">
                                <th>Buyer Name</th>
                                <th>Order Time</th>
                                <th>Total</th>
                                <th>Reciever Name</th>
                                <th>Shipping Address</th>
                                <th>Postal Code</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                        <tbody id="orderAnyTimeBody">
                        
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div id="divOrderItems" class="col-lg-4 invisible border border-light">
            <p>Order Items</p>
            <table class="table orderItem table-striped table-bordered">
                <thead>
                    <tr orderitem-id="0">
                        <th>Product Name</th>
                        <th>Unit Price</th>
                        <th>Buy Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        </tr>
                </thead>
                <tbody id="orderItems">
                
                </tbody>
            </table>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}
