{% extends "seller-base.html.twig" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script>
     $(document).ready(function(){
         $("#menuPersonal").addClass("active");
         $("#changeRegisterInfo").click(function(){
             var firstname=$("#firstname").val();
             var middlename=$("#middlename").val();
             var lastname=$("#lastname").val();
             var phone=$("#phone").val();
               $.ajax({
                        url:"/api/seller/personalsetting/{{seller.id}}",
                        type:"PUT",
                        dataType:"json",
                        data:JSON.stringify({"update-type":"register","firstname":firstname,"middlename":middlename,"lastname":lastname,"phone":phone}), 
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function(result){
                        if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change basic info ok");   
                        }
                     
                       
                    });
         });
         $("#changeAddress").click(function(){
              var address=$("#address").val();
             var city=$("#city").val();
             var province=$("#province").val();
             var country=$("#country").val();
              var postalcode=$("#postalcode").val();
               $.ajax({
                        url:"/api/seller/personalsetting/{{seller.id}}",
                        type:"PUT",
                        dataType:"json",
                        data:JSON.stringify({"update-type":"address","address":address,"city":city,"province":province,"country":country,"postalcode":postalcode}), 
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function(result){
                        if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change address info ok");   
                        }
                       
                    });
             
         });
         $("#changeDescription").click(function(){
               var description=$("#description").val();
           
               $.ajax({
                        url:"/api/seller/personalsetting/{{seller.id}}",
                        type:"PUT",
                        dataType:"json",
                        data:JSON.stringify({"update-type":"description","description":description}), 
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function(result){
                       if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                             alert("Change description ok");   
                        }
                       
                    });
         });
        $("#changePassword").click(function(){
              var oldpassword=$("#oldpassword").val();
           var newpassword=$("#pass1").val();
           var confirm=$("#pass2").val();
               $.ajax({
                        url:"/api/seller/personalsetting/{{seller.id}}",
                        type:"PUT",
                        dataType:"json",
                        data:JSON.stringify({"update-type":"password","oldpassword":oldpassword,"newpassword":newpassword,"confirm":confirm}), 
                        error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                    }).done(function(result){
                       if(Array.isArray(result))
                        {
                             $("#errorMessage").append("<ul>");
                             for(var error in result)
                             {
                                $("#errorMessage").append("<li>"+error+"</li>");
                             }
                             $("#errorMessage").append("<ul>");

                        }
                        else if(typeof result === 'string' || result instanceof String)
                        {
                            $("#errorMessage").append("<ul>");
                             $("#errorMessage").append("<li>"+result+"</li>");
                             $("#errorMessage").append("<ul>");

                        }
                        else
                        {
                            $("#errorMessage").html("");
                            $("#oldpassword").val("");
                            $("#pass1").val("");
                            $("#pass2").val("");
                             alert("Change password ok");   
                        }
                       
                    });
         });
     });
     $(document).ajaxError(function(event,jqxhr,settings,trownError){
            console.log("Ajax error occured on "+settings.url);
            alert("Ajax error occured");
    });
 </script>
{% endblock %}

{% block main %}
    {% if seller %}
    <div class="error" id="errorMessage">
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#register">Basic info</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#address">Address info</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#other">Others</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#password">Change Password</a>
        </li>
    </ul>
        <!-- Tab panes -->
    <div class="tab-content">
        <div id="register" class="container tab-pane active"><br>
            <label >User name</label><p><b>{{seller.username}}</b></p><br>
            <label >Email</label><p><b>{{seller.email}}</b></p><br>
            <label for="firstname">First Name</label> <input type="text"  name="firstname" id="firstname" class="form-control" placeholder="First Name" value='{{seller.FirstName}}' required><br>
            <label for="middlename">Middle Name</label> <input type="text"  name="middlename" id="middlename" class="form-control" placeholder="Middle Name"  value='{{seller.MiddleName}}'><br>
            <label for="lastname">Last Name</label><input type="text"  name="lastname" id="lastname" class="form-control" placeholder="Last Name"  value='{{seller.LastName}}' required><br>
            <label for="phone">Phone</label> <input type="text"  name="phone" id="phone" class="form-control" placeholder="Phone"  value='{{seller.phoneNo}}'  required><br>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeRegisterInfo">Change Info</button>
        </div>
        <div id="address" class="container tab-pane fade"><br>
            <label for="address">Address</label><input type="text"  name="address" id="address" class="form-control" placeholder="Address" value='{{seller.address}}'><br>
            <label for="city">City</label> <input type="text"  name="city" id="city" class="form-control" placeholder="City"  value='{{seller.city}}'><br>
            <label for="province">Province</label> <input type="text"  name="province" id="province" class="form-control" placeholder="Province" value='{{seller.province}}'><br>
            <label for="country">Country</label> <input type="text"  name="country" id="country" class="form-control" placeholder="Country" value='{{seller.country}}'><br>
            <label for="postalcode">Postal Code</label><input type="text"  name="postalcode" id="postalcode" class="form-control" placeholder="Postal Code" value='{{seller.postalCode}}'><br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeAddress">Change Address</button>
        </div>
        <div id="other" class="container tab-pane fade"><br>
                <label for="description">Description</label> 
            <textarea class="form-control" rows="20" id="description" name="description"placeholder="Description">{{seller.description}}</textarea>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changeDescription">Change Description</button>
        </div>
        <div id="password" class="container tab-pane fade"><br>
            <label for="oldPass">Old Password</label><input type="password"  name="oldPass" id="oldPass" class="form-control" placeholder="Old Password" required>
            <label for="pass1">New Password</label><input type="password"  name="pass1" id="pass1" class="form-control" placeholder="Password" required>
            <label for="pass2">Confirm</label><input type="password"  name="pass2" id="pass2" class="form-control" placeholder="Confirm Password" required>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" id="changePassword">Change Password</button>
        </div>
    </div>
 
    {% endif %}
{% endblock %}