<!DOCTYPE html>
<html>
    <head>
              <!-- Css Styles -->
        <link rel="icon" href="/images/Logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="/styles/emall.css">
     <script>
        $(document).ready(function(){
            $('input[name=username]').on( 'keyup keypress blur change cut paste',function(){
                 var username=$('input[name=username]').val();
                        if(username!="")
                        {
                                             
                            $.ajax({ // FIXME: escape special characters using urlencode
                                url: "/api/seller/checkUserName/0/"+username,
                                type: "GET",
                                dataType: "json",
                                error: function (jqxhr, status, errorThrown) {
                                    alert("AJAX error: " + jqxhr.responseText);
                                }
                            }).done(function (hasSame) {
                                if(hasSame)
                                {
                                    $('#isUserNameTaken').html("User name has been taken!");
                                }
                                else
                                {
                                    $('#isUserNameTaken').html("");
                                }
                            });
               
               }
            });
            $('input[name=email]').on( 'keyup keypress blur change cut paste',function(){
                 var email=$('input[name=email]').val();
                        if(email!="")
                        {
                         
                            $.ajax({ // FIXME: escape special characters using urlencode
                                url: "/api/seller/checkEmail/0/"+email,
                                type: "GET",
                                dataType: "json",
                                error: function (jqxhr, status, errorThrown) {
                                    alert("AJAX error: " + jqxhr.responseText);
                                }
                            }).done(function (hasSame) {
                                if(hasSame)
                                {
                                    $('#isEmailTaken').html("Email name has been taken!");
                                }
                                else
                                {
                                    $('#isEmailTaken').html("");
                                }
                            });
                        }
                  
            });
        });
        $(document).ajaxError(function(event,jqxhr,settings,trownError){
            console.log("Ajax error occured on "+settings.url);
            alert("Ajax error occured");
        });
    </script>
    </head>
    <body>



      <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>

            {% if errorList %}
             
             <div>
                {% for error in errorList %}
                <div class="alert alert-danger">
                    <strong>Error:</strong> {{ error }}
                </div>
                 {% endfor %}
             </div>
    
            {% endif %}

            <form class="form-signin" method="post">
              <div class="form-label-group">
                <input type="text" id="username"  name="username" class="form-control" placeholder="User name" value="{{ v.username }}" required autofocus>
                <label for="username">User name</label>
                 <span class="errorMessage" id="isUserNameTaken"></span>
              </div>
              <div class="form-label-group">
                <input type="password"  name="pass1" id="pass1" class="form-control" placeholder="Password" required>
                <label for="pass1">Password</label>
              </div>
              <div class="form-label-group">
                <input type="password"  name="pass2" id="pass2" class="form-control" placeholder="Repeat Password" required>
                <label for="pass2"> Password (repeated)</label>
              </div>
               <div class="form-label-group">
                <input type="email" id="email"  name="email" class="form-control" placeholder="Email" value="{{ v.email }}" required autofocus>
                <label for="email">Email</label>
                <span class="errorMessage" id="isEmailTaken"></span>
              </div>
              <div class="form-label-group">
                <input type="text"  name="firstname" id="firstname" class="form-control" placeholder="First Name" required>
                <label for="firstname">First Name</label>
              </div>
              <div class="form-label-group">
                <input type="text"  name="middlename" id="middlename" class="form-control" placeholder="Middle Name">
                <label for="middlename">Middle Name</label>
              </div>
              <div class="form-label-group">
                <input type="text"  name="lastname" id="lastname" class="form-control" placeholder="Last Name" required>
                <label for="lastname">Last Name</label>
              </div>
            
                  
              <div class="form-label-group">
                <input type="text"  name="phone" id="phone" class="form-control" placeholder="Phone" required>
                <label for="phone">Phone</label>
              </div>
               <div class="form-label-group">
                <input type="text"  name="address" id="address" class="form-control" placeholder="Address">
                <label for="address">Address</label>
              </div>
               <div class="form-label-group">
                <input type="text"  name="city" id="city" class="form-control" placeholder="City">
                <label for="city">City</label>
              </div>
              <div class="form-label-group">
                <input type="text"  name="province" id="province" class="form-control" placeholder="Province">
                <label for="province">Province</label>
              </div>
              <div class="form-label-group">
                <input type="text"  name="country" id="country" class="form-control" placeholder="Country">
                <label for="country">Country</label>
              </div>
              <div class="form-label-group">
                <input type="text"  name="postalcode" id="postalcode" class="form-control" placeholder="Postal Code">
                <label for="postalcode">Postal Code</label>
              </div>
                <div class="form-label-group">
                <input type="text"  name="description" id="description" class="form-control" placeholder="Description">
                <label for="description">Description</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                             
            </form>
          </div>
        </div>
      </div>
    </div>



</body>

</html>