{% extends "seller-base.html.twig" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/scripts/dist/Chart.min.css">
 <script src="/scripts/dist/Chart.min.js"></script>
  <script src="/scripts/dist/Chart.bundle.js"></script>
  <script src="/scripts/dist/utils.js"></script>
 <script>
    var period="{{period}}";
    var dataType="orders";
    var chartType="line"; 
    var orders=[];
    var products=[];
    var sales=[];
    var customers=[];
    var myOrderChart;
    var myProductChart;
    var mySaleChart;
    var myCustomerChart;

    $(document).ready(function(){


        switch (period) {
            case "month":
                $("#menuPerformanceMonth").addClass("active");
            break;
            case "quarter":
                 $("#menuPerformanceQuarter").addClass("active");
            break;
            case "year":
                 $("#menuPerformanceYear").addClass("active");
            break;
        
            default:
                break;
        }

        $(".nav-link").click(function(){
            if($(this).attr("href").substring(1)!=dataType)
            {
                dataType=$(this).attr("href").substring(1);
                chartType="line";

                switch(dataType)
                {
                    case "orders":
                        loadOrders();
                    break;
                    case "products":
                        loadProducts();
                    break;
                    case "sales":
                         loadSales();
                    break;
                    case "customers":
                        loadCustomers();
                    break;
                }
                
            }
        });
        $(".chartType").click(function(){
            if($(this).html()!=chartType)
            {
                chartType=$(this).html().toLowerCase();
                drawChart();
            }
        });
        loadOrders();
    
    });
    function loadOrders()
    {

                 console.log(`/api/seller/orders/time/${period}/1`);
                $.ajax({ 
                    url: `/api/seller/orders/time/${period}/1`,
                    type: "GET",
                    dataType: "json",
                    error: function (jqxhr, status, errorThrown) {
                             alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                    }
                }).done(function (orderList) 
                {
                    orders=orderList;
                    drawOrderChart();
                });

    }
    function loadProducts()
    {
        $.ajax({ 
            url: `/api/seller/products/statistics/${period}`,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            }
        }).done(function (productList) 
        {
            products=productList;
            drawProductChart();
        });
    }

    function loadSales()
    {
        $.ajax({ 
            url: `/api/seller/sales/statistics/${period}`,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            }
        }).done(function (saleList){
            console.log(saleList);
           sales=saleList;
           drawSaleChart();
        });
    }
    function loadCustomers()
    {
        $.ajax({ 
            url: `/api/seller/customers/statistics/${period}`,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            }
        }).done(function (custList) 
        {
            customers=custList;
            drawCustomerChart();
        });
    }
    function drawOrderChart()
    {
        console.log(orders);
        var canvas = document.getElementById('chartOrder');
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);  
        context.restore();   
        var ctx=$("#chartOrder");
        var ctxData;
        var options;

        switch(chartType)
        {
            case "line":
            switch(period)
            {
                case "month":
                    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                    
                    var firstDay = new Date(y, m, 1);
                    var lastDay = new Date(y, m + 1, 0);
                    
                    var labels=[];
                    var orderCounts=[];
                    for (var day = firstDay; day <= lastDay; day.setDate(day.getDate()+1)) 
                    {
                        
                        var currentDay=new Date(day.getFullYear(),day.getMonth(),day.getDate());
                        labels.push(currentDay.toISOString().substring(0, 10));
                        var orderCount=0;
                        
                        orders.forEach(order => {
                            var orderDate=new Date( order.orderTime);
                            
                            if(orderDate.getDate()==currentDay.getDate())
                            {
                                orderCount+=1;
                            }
                        });
                        
                        orderCounts.push(orderCount);
                    }
                    ctxData={
                        labels: labels,
                        datasets: [{
                            label: 'Orders Quantity',
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: orderCounts,
                            fill: false,
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Monthly'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Day'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                    break;
                case "quarter":
                    var today=new Date();
                    var quarter=getQuarter(today);
                    var months=getMonths(quarter);
                    var monthsInt=getMonthsInt(quarter);
                    
                    var orderCounts=[];
                    for (let i=0; i<months.length; i++) 
                    {
                        var orderCount=0;
                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==(monthsInt[i]-1))
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                    }
                        ctxData={
                        labels: months,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: orderCounts,
                            fill: false,
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Quarter'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                break;
                case "year":
                
                    var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
                    var orderCounts=[];
                    for (let i=0; i<12; i++) 
                    {
                        var orderCount=0;
                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==i)
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                    }
                        ctxData={
                        labels: monthNames,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: orderCounts,
                            fill: false,
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Yearly'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                    break;
            }
            break;
            case "pie":
                switch(period)
                {
                case "month":
                    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                    
                    var firstDay = new Date(y, m, 1);
                    var lastDay = new Date(y, m + 1, 0);
                    
                    var labels=[];
                    var orderCounts=[];
                    var bgColors=[];
                  
                    for (var day = firstDay; day <= lastDay; day.setDate(day.getDate()+1)) 
                    {
                        
                        var currentDay=new Date(day.getFullYear(),day.getMonth(),day.getDate());
                        labels.push(currentDay.toISOString().substring(0, 10));
                        var orderCount=0;
                        
                        orders.forEach(order => {
                            var orderDate=new Date( order.orderTime);
                            
                            if(orderDate.getDate()==currentDay.getDate())
                            {
                                orderCount+=1;
                            }
                        });
                        
                        orderCounts.push(orderCount);
                        var rdmColor=random_bg_color();
                        bgColors.push(`rgba(${rdmColor},0.2)`);
                      
                    }
                    ctxData={
                        labels: labels,
                        datasets: [{
                            label: 'Orders Quantity',
                            backgroundColor:bgColors,
                            data: orderCounts
                         }]
                    };
                    options=  {
                        responsive: true,
                       
                    };
                    break;
                case "quarter":
                    var today=new Date();
                    var quarter=getQuarter(today);
                    var months=getMonths(quarter);
                    var monthsInt=getMonthsInt(quarter);
                    
                    var orderCounts=[];
                    for (let i=0; i<months.length; i++) 
                    {
                        var orderCount=0;
                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==(monthsInt[i]-1))
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                    }
                        ctxData={
                        labels: months,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor:[   
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                                ],
                         
                            data: orderCounts
                        }]
                    };
                    options=  {
                        responsive: true,
                 
                };
                break;
                case "year":
                
                    var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
                    var orderCounts=[];
                    var bgColors=[];
                  
                    for (let i=0; i<12; i++) 
                    {
                        var orderCount=0;

                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==i)
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                          var rdmColor=random_bg_color();
                        bgColors.push(`rgba(${rdmColor},0.2)`);
                     
                    }
                        ctxData={
                        labels: monthNames,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor: bgColors,
                            data: orderCounts
                        }]
                    };
                    options=  {
                        responsive: true,
                 };
                    break;
            }

            break;
            case "bar":
            switch(period)
            {
                case "month":
                    var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                    
                    var firstDay = new Date(y, m, 1);
                    var lastDay = new Date(y, m + 1, 0);
                    
                    var labels=[];
                    var orderCounts=[];
                    var bgColors=[];
                    var borderColors=[];
                    for (var day = firstDay; day <= lastDay; day.setDate(day.getDate()+1)) 
                    {
                        
                        var currentDay=new Date(day.getFullYear(),day.getMonth(),day.getDate());
                        labels.push(currentDay.toISOString().substring(0, 10));
                        var orderCount=0;
                        
                        orders.forEach(order => {
                            var orderDate=new Date( order.orderTime);
                            
                            if(orderDate.getDate()==currentDay.getDate())
                            {
                                orderCount+=1;
                            }
                        });
                        
                        orderCounts.push(orderCount);
                        var rdmColor=random_bg_color();
                        bgColors.push(`rgba(${rdmColor},0.2)`);
                        borderColors.push(`rgba(${rdmColor},1)`);
                    }
                    ctxData={
                        labels: labels,
                        datasets: [{
                            label: 'Orders Quantity',
                            backgroundColor:bgColors,
                            borderColor:borderColors,
                            data: orderCounts,
                            borderWidth: 1
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Monthly'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Day'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                    break;
                case "quarter":
                    var today=new Date();
                    var quarter=getQuarter(today);
                    var months=getMonths(quarter);
                    var monthsInt=getMonthsInt(quarter);
                    
                    var orderCounts=[];
                    for (let i=0; i<months.length; i++) 
                    {
                        var orderCount=0;
                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==(monthsInt[i]-1))
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                    }
                        ctxData={
                        labels: months,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor:[   
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                                ],
                            borderColor: [   
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                                ],
                            data: orderCounts,
                            borderWidth: 1
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Quarter'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                break;
                case "year":
                
                    var monthNames = ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
                    var orderCounts=[];
                    var bgColors=[];
                    var borderColors=[];
                    for (let i=0; i<12; i++) 
                    {
                        var orderCount=0;

                        orders.forEach(order => {
                            if( new Date(order.orderTime).getMonth()==i)
                            {
                                orderCount+=1;
                            }
                        });
                        orderCounts.push(orderCount);
                        var rdmColor=random_bg_color();
                        console.log(rdmColor);
                        bgColors.push(`rgba(${rdmColor},0.2)`);
                        borderColors.push(`rgba(${rdmColor},1)`);
                        
                    }
                    console.log(bgColors);
                        console.log(borderColors);
                        ctxData={
                        labels: monthNames,
                        datasets: [{
                            label: 'Orders Quantity This Quarter',
                            backgroundColor: bgColors,
                            borderColor: borderColors,
                            data: orderCounts,
                            borderWidth: 1
                        }]
                    };
                    options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Order Quantity Yearly'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Order Quantity'
                                }
                            }]
                        }
                };
                    break;
            }

            break;
        }
        if(myOrderChart!=null)
        {
            myOrderChart.destroy();
        }
        myOrderChart = new Chart(ctx, {
            type: chartType,
            data:ctxData,
            options:options
        });
     

    }
     function drawProductChart()
    {
        console.log(products);
        var ctx=$("#chartProduct");
        var ctxData;
        var options;

        switch(chartType)
        {
            case "line":
                var labels=getLabels(period);
                var productNames=[];
                var productIds=[];
                var datasets=[];
                products.forEach(product => {
                    if(!productIds.includes(product.productId))
                    {
                        productIds.push(product.productId);
                        productNames.push(`#${product.productId}-${product.productName}`);
                    }
                });
                for(var i=0;i<productIds.length;i++)
                {
                    var totalSales=[];    
                    for(var j=0;j<labels.length;j++)
                    {
                        var periodSales=0;
                        products.forEach(product => {
                             if(product.productId==productIds[i]&&product.productPeriod==labels[j])
                             {
                              
                                 periodSales=parseFloat( product.totalSales)+parseFloat(periodSales);
                                 //break;
                             }   
                        });
                        totalSales.push(periodSales);
                    }
                    var rdmColor=random_bg_color();
                    datasets.push(
                        {
                            label: productNames[i],
                            backgroundColor: `rgba(${rdmColor},1)`,
                            borderColor:  `rgba(${rdmColor},1)`,
                            data: totalSales,
                            fill: false,
                        }
                    );
                }
                ctxData={labels: labels,datasets: datasets};
                 options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Products Sales Monthly'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Day'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Total Sales($)'
                                }
                            }]
                        }
                };
            break;
            case "pie":
                 var productNames=[];
                var productIds=[];
                var productSales=[];
                var datasets=[];
                var bgColors=[];
                products.forEach(product => {
                    if(!productIds.includes(product.productId))
                    {
                        productIds.push(product.productId);
                        productNames.push(`#${product.productId}-${product.productName}`);
                    }

                });
                for(var i=0;i<productIds.length;i++)
                {
                    var totalSales=0;
                    products.forEach(product => {
                        if(product.productId==productIds[i])
                        {
                           
                            totalSales=parseFloat( product.totalSales)+parseFloat(totalSales);
                        }

                    });
                    productSales.push(totalSales);
                    var rdmColor=random_bg_color();
                    bgColors.push(`rgba(${rdmColor},0.2)`);
                }
                 ctxData={
                        labels: productNames,
                        datasets: [{
                            label: 'Product Sales',
                            backgroundColor:bgColors,
                            data: productSales
                         }]
                    };
                    options=  {
                        responsive: true,
                       
                    };
            break;
            case "bar":
                 var productNames=[];
                var productIds=[];
                var productSales=[];
                var datasets=[];
                var bgColors=[];
                var borderColors=[];
                products.forEach(product => {
                    if(!productIds.includes(product.productId))
                    {
                        productIds.push(product.productId);
                        productNames.push(`#${product.productId}-${product.productName}`);
                    }

                });
                for(var i=0;i<productIds.length;i++)
                {
                    var totalSales=0;
                    products.forEach(product => {
                        if(product.productId==productIds[i])
                        {
                          totalSales=parseFloat( product.totalSales)+parseFloat(totalSales);
                        }

                    });
                    productSales.push(totalSales);
                    var rdmColor=random_bg_color();
                    bgColors.push(`rgba(${rdmColor},0.2)`);
                    borderColors.push(`rgba(${rdmColor},1)`);
                }
                ctxData={
                    labels: productNames,
                    datasets: [{
                        label: 'Product Sales',
                        backgroundColor:bgColors,
                        borderColor:borderColors,
                        data: productSales,
                        borderWidth: 1
                    }]
                };
                options=  {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Product Sales Monthly'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Day'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Products'
                            }
                        }]
                    }
            };
             break;
        }
        if(myProductChart!=null)
        {
            myProductChart.destroy();
        }
        myProductChart = new Chart(ctx, {
            type: chartType,
            data:ctxData,
            options:options
        });
  
    }

    function drawSaleChart()
    {
         console.log(sales);
         //select DATE_FORMAT(a.orderTime,'%Y/%m/%d') AS orderPeriod,sum(a.total) as salesTotal from orders a 
        var ctx=$("#chartSales");
        var ctxData;
        var options;
        var labels=getLabels(period);
        var saleDatas=[];
        var bgColors=[];
        var borderColors=[];
        for(var i=0;i<labels.length;i++)
        {
            var periodSales=0;
            sales.forEach(sale => {
                
                if(sale.orderPeriod==labels[i])
                {
                    periodSales=parseFloat( periodSales)+parseFloat( sale.salesTotal);
                 
                }
             
            });
            saleDatas.push(periodSales);
            var rdmColor=random_bg_color();
            bgColors.push(`rgba(${rdmColor},0.2)`);
            borderColors.push(`rgba(${rdmColor},1)`);
        }
        switch(chartType)
        {
            case "line":
                ctxData={
                        labels: labels,
                        datasets: [{
                            label: 'Sales',
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: saleDatas,
                            fill: false,
                        }]
                    };
             
                 options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Sales'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Period'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Total Sales($)'
                                }
                            }]
                        }
                };
            break;
            case "pie":
                 ctxData={
                        labels: labels,
                        datasets: [{
                            label: 'Sales',
                            backgroundColor:bgColors,
                            data: saleDatas
                         }]
                    };
                    options=  {
                        responsive: true,
                       
                    };
            break;
            case "bar":
                 ctxData={
                    labels: labels,
                    datasets: [{
                        label: 'Sales',
                        backgroundColor:bgColors,
                        borderColor:borderColors,
                        data: saleDatas,
                        borderWidth: 1
                    }]
                };
                options=  {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Sales'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Period'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Total Sales($)'
                            }
                        }]
                    }
            };
             break;
        }
        if(mySaleChart!=null)
        {
            mySaleChart.destroy();
        }
        mySaleChart = new Chart(ctx, {
            type: chartType,
            data:ctxData,
            options:options
        });
    
    }
    function drawCustomerChart()
    {
        console.log(customers);
        //select a.buyerId,CONCAT_WS(' ', b.FirstName, b.LastName) AS buyerName, DATE_FORMAT(a.orderTime,'%Y/%m/%d') AS orderPeriod, sum(a.total) as buyTotal from orders a, users b 
        var ctx=$("#chartCustomers");
        var ctxData;
        var options;

        switch(chartType)
        {
            case "line":
                var labels=getLabels(period);

                var buyerNames=[];
                var buyerIds=[];
                var datasets=[];
                customers.forEach(customer => {
                    if(!buyerIds.includes(customer.buyerId))
                    {
                        buyerIds.push(customer.buyerId);
                        if(customer.buyerName)
                        {
                            buyerNames.push(`#${customer.buyerId}-${customer.buyerName}`);
                        }else
                        {
                             buyerNames.push(`#${customer.buyerId}`);
                        }
                    }
                });
                for(var i=0;i<buyerIds.length;i++)
                {
                    var totalBuys=[];    
                    for(var j=0;j<labels.length;j++)
                    {
                        var periodBuys=0;
                        customers.forEach(customer => {
                             if(customer.buyerId==buyerIds[i]&&customer.orderPeriod==labels[j])
                             {
                                 periodBuys+=customer.buyTotal;
                                 //break;
                             }   
                        });
                        totalBuys.push(periodBuys);
                    }
                    var rdmColor=random_bg_color();
                    datasets.push(
                        {
                            label: buyerNames[i],
                            backgroundColor: `rgba(${rdmColor},1)`,
                            borderColor:  `rgba(${rdmColor},1)`,
                            data: totalBuys,
                            fill: false,
                        }
                    );
                }
                ctxData={labels: labels,datasets: datasets};
                 options=  {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Customer Orders'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Period'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Total Buys($)'
                                }
                            }]
                        }
                };
            break;
            case "pie":
                var buyerNames=[];
                var buyerIds=[];
                var totalBuys=[];
                var datasets=[];
                var bgColors=[];
                 customers.forEach(customer => {
                    if(!buyerIds.includes(customer.buyerId))
                    {
                        buyerIds.push(customer.buyerId);
                        if(customer.buyerName)
                        {
                            buyerNames.push(`#${customer.buyerId}-${customer.buyerName}`);
                        }else
                        {
                             buyerNames.push(`#${customer.buyerId}`);
                        }
                    }
                });
                for(var i=0;i<buyerIds.length;i++)
                {
                    var customerBuys=0.0;
                    customers.forEach(customer => {
                        if(customer.buyerId==buyerIds[i])
                        {
                             console.log(customer.buyTotal);
                            customerBuys=parseFloat( customer.buyTotal)+parseFloat(customerBuys);
                              console.log(customerBuys);
                        }

                    });
                      console.log(customerBuys);
                    totalBuys.push(customerBuys);
                    var rdmColor=random_bg_color();
                    bgColors.push(`rgba(${rdmColor},0.2)`);
                }
                console.log(buyerNames);
                console.log(totalBuys);
                 ctxData={
                        labels: buyerNames,
                        datasets: [{
                            label: 'Customer Buys',
                            backgroundColor:bgColors,
                            data: totalBuys
                         }]
                    };
                    options=  {
                        responsive: true,
                       
                    };
            break;
            case "bar":
                           var buyerNames=[];
                var buyerIds=[];
                var totalBuys=[];
                var datasets=[];
                var bgColors=[];
                 var borderColors=[];
                 customers.forEach(customer => {
                    if(!buyerIds.includes(customer.buyerId))
                    {
                        buyerIds.push(customer.buyerId);
                        if(customer.buyerName)
                        {
                            buyerNames.push(`#${customer.buyerId}-${customer.buyerName}`);
                        }else
                        {
                             buyerNames.push(`#${customer.buyerId}`);
                        }
                    }
                });
                for(var i=0;i<buyerIds.length;i++)
                {
                    var customerBuys=0;
                    customers.forEach(customer => {
                        if(customer.buyerId==buyerIds[i])
                        {
                           customerBuys=parseFloat( customer.buyTotal)+parseFloat(customerBuys);
                        }

                    });
                    totalBuys.push(customerBuys);
                    var rdmColor=random_bg_color();
                    bgColors.push(`rgba(${rdmColor},0.2)`);
                     borderColors.push(`rgba(${rdmColor},1)`);
                }
     
              
                ctxData={
                    labels: buyerNames,
                    datasets: [{
                        label: 'Customer Buys',
                        backgroundColor:bgColors,
                        borderColor:borderColors,
                        data: totalBuys,
                        borderWidth: 1
                    }]
                };
                options=  {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Customer Buys Data'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Customers'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Total Buys($)'
                            }
                        }]
                    }
            };
             break;
        }
        if(myCustomerChart!=null)
        {
            myCustomerChart.destroy();
        }
        myCustomerChart = new Chart(ctx, {
            type: chartType,
            data:ctxData,
            options:options
        });
  
    }
    function drawChart()
    {
        switch(dataType)
        {
            case "orders":
                drawOrderChart();
            break;
            case "products":
                drawProductChart();
            break;
            case "sales":
                drawSaleChart();
            break;
            case "customers":
                drawCustomerChart();
            break;
        }

    }
    function getQuarter(d) {
        d = d || new Date();
        return Math.floor((d.getMonth() + 3) / 3);

    }
    function getMonths(quarter)
    {
        switch(quarter)
        {
            case 1:
                return ["January","Feburary","March"];
            break;
            case 2:
                return ["April","May","June"];
            break;
            case 3:
                return ["July","August","Semptember"];
            break;
            case 4:
                return ["October","November","December"];
            break;
        }
    }
    function getMonthsInt(quarter)
    {
        switch(quarter)
        {
            case 1:
                return [1,2,3];
            break;
            case 2:
                return [4,5,6];
            break;
            case 3:
                return [7,8,9];
            break;
            case 4:
                return [10,11,12];
            break;
        }
    }
    function getLabels(period)
    {
        switch(period)
        {
            case "month":
                  var date = new Date(), y = date.getFullYear(), m = date.getMonth();
                    
                    var firstDay = new Date(y, m, 1);
                    var lastDay = new Date(y, m + 1, 0);
                    
                    var labels=[];
                   
                    for (var day = firstDay; day <= lastDay; day.setDate(day.getDate()+1)) 
                    {
                        
                        labels.push(day.toISOString().substring(0, 10));
                     
                    }
                    return labels;
            break;
            case "quarter":
                var today=new Date();
                var quarter=getQuarter(today);
                var months=getMonths(quarter);
                return months;
            break;
            case "year":
                return  ["January", "February", "March", "April", "May","June","July", "August", "September", "October", "November","December"];
            break;
        }
    }

  var random_bg_color=function() {
      
        
        var x = Math.floor(Math.random() * 256);
        var y = Math.floor(Math.random() * 256);
        var z = Math.floor(Math.random() * 256);
        var bgColor = x + "," + y + "," + z ;
        
        return bgColor;
    }

</script>
{% endblock %}

{% block main %}
    {% if seller %}
    <!--div class="pricing-header text-center">
        <h5 class="display-4">Sales Performance</h5>
    </div-->

    <div class="container-fluid">
        <div class="row">
            <div id="divOrders" class="col-lg-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                   
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sales">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#customers">Customers</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary chartType">Line</button>
                        <button type="button" class="btn btn-success chartType">Bar</button>
                        <button type="button" class="btn btn-info chartType">Pie</button>
                    </div>
                   <div id="orders" class="container-fluid tab-pane active border border-light">

                        <canvas class="my-4" id="chartOrder" width="900" height="380"></canvas>
                    </div>
                    <div id="products" class="container-fluid tab-pane border border-light">
                        <canvas class="my-4" id="chartProduct" width="900" height="380"></canvas>
                    </div>
                    <div id="sales" class="container-fluid tab-pane border border-light">
                        <canvas class="my-4" id="chartSales" width="900" height="380"></canvas>
                    </div>
                      <div id="customers" class="container-fluid tab-pane border border-light">
                        <canvas class="my-4" id="chartCustomers" width="900" height="380"></canvas>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
     {% endif %}
{% endblock %}