{% extends "seller-base.html.twig" %}
{% block head %}
 <script>
    var currentProductId;
    $(document).ready(function(){
         $("#menuProducts").addClass("active");
         $("#btnAddProduct").click(function(){
             window.location.href="/seller/product/add"; 
        });
        $("#btnEditProduct").click(function(){
            if(currentProductId>0)
            {
                window.location.href="/seller/product/update/"+currentProductId; 
            }
        });
        $("#btnDeleteProduct").click(function(){
            if(currentProductId>0)
            {
                window.location.href="/seller/product/delete/"+currentProductId; 
            }
        });

    });
    function selectProduct(id)
    {
        currentProductId=id;
    }
 </script>
{% endblock %}

{% block main %}
    {% if seller %}
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h2 class="display-4">My Products</h2>
                        <div class="card-deck mb-3 text-center" id="card-deck">
                            {% if statistics %}
                            {% for key,value in statistics %}
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{categories[key]}}</h4>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title pricing-card-title">{{value}}<small class="text-muted"> products</small></h1>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                 
                  <div>
                        <button class="btn btn-lg btn-primary text-uppercase" type="button" id="btnAddProduct">Add Product</button>
                        <button class="btn btn-lg btn-primary text-uppercase" type="button" id="btnEditProduct">Edit Product</button>
                       
                  </div>
                    <!-- Nav tabs -->
                    {% if productArray %}
                    <ul class="nav nav-tabs">
                         {% set index = 0 %}
                        {% for category,products in productArray %}
                        <li class="nav-item">
                            {% if index==0 %} 
                            <a class="nav-link active" data-toggle="tab" href="#cate_{{category}}">{{categories[category]}}</a>
                             {% else %}
                              <a class="nav-link" data-toggle="tab" href="#cate_{{category}}">{{categories[category]}}</a>
                             {% endif %}
                        </li>
                         {% set index = index +1 %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                          {% set index = 0 %}
                        {% for category,products in productArray %}
                             {% if index==0 %} 
                            <div id="cate_{{category}}" class="container tab-pane active">
                              {% else %}
                             <div id="cate_{{category}}" class="container tab-pane">
                             {% endif %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Name</th>
                                        <th>Unit Price</th>
                                        <th>Inventory</th>
                                        <th>Discount</th>
                                        <th>Sales Count</th>
                                        <th>Review Count</th>
                                        <th>Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in products%}
                                    <tr  onclick="selectProduct({{product.id}})">
                                        <td><image src="{{product.pictureUrl}}" width=32 height=32></td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.unitPrice}}</td>
                                        <td>{{product.inventory}}</td>
                                        <td>{{product.discount}}</td>
                                        <td>{{product.salesCount}}</td>
                                        <td>{{product.reviewCount}}</td>
                                        <td>{{product.rating}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                             {% set index = index +1 %}
                        {% endfor %}
                        
                    </div>
                    {% endif %}
    {% endif %}
{% endblock %}
