{% extends "seller-base.html.twig" %}
{% block head %}
<script>
$(document).ready(function name() {
     $("#menuProducts").addClass("active"); 
});
</script>
{% endblock %}

{% block main %}
    {% if seller %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            {% if product %}
            <h3 class="display-4">Edit Products</h3>
                {% else %}
            <h3 class="display-4">Add Products</h3>
            {% endif %}
        </div>
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            Category tree
        </div>

        {% if product %}
            <form method="post"  enctype="multipart/form-data">
                    <label for="category">Category</label>
                    <select id="category" name="category">
                        {% for item in categories %}
                        <option value="{{item.id}}" {% if product.categoryId==item.id %}selected{% endif %} >{{item.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="productname">Product Name</label><input type="text"  name="productname" id="productname" class="form-control" placeholder="Product Name" value="{{product.name}}" required >
                    <label for="price">Unit Price</label><input type="text"  name="price" id="price" class="form-control" placeholder="Unit Price"value="{{product.unitPrice}}" required>
                    <label for="inventory">Inventory</label><input type="text"  name="inventory" id="inventory" class="form-control" placeholder="Inventory"value="{{product.inventory}}" required>
                    <label for="discount">Discount</label><input type="text"  name="discount" id="discount" class="form-control" placeholder="Discount"value="{{product.discount}}" required>
                    <label>Picture</label>
                    <image src="{{product.pictureUrl}}" width=150 height=200/>
                    <input type="file" name="picture" /><br>
                    <label for="description">Description</label><textarea class="form-control" rows="20" id="description" name="description" >{{product.description}}</textarea>
                    <label>Sales Count</label><label>{{product.salesCount}}</label>
                    <label>Review Count</label><label>{{product.reviewCount}}</label>
                    <label>Rating</label><label>{{product.rating}}</label>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="updateProduct">Update</button>
            </form>
        {% else %}  
                <form method="post"  enctype="multipart/form-data">
                    <label for="category">Category</label>
                    <select id="category" name="category" >
                        {% for item in categories %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="productname">Product Name</label><input type="text"  name="productname" id="productname" class="form-control" placeholder="Product Name"  required >
                    <label for="price">Unit Price</label><input type="text"  name="price" id="price" class="form-control" placeholder="Unit Price" required>
                    <label for="inventory">Inventory</label><input type="text"  name="inventory" id="inventory" class="form-control" placeholder="Inventory" required>
                    <label for="discount">Discount</label><input type="text"  name="discount" id="discount" class="form-control" placeholder="Discount" required>
                    <label for="picture">Picture</label><input type="file" name="picture" id="picture"/><br>
                    <label for="description">Description</label><textarea class="form-control" rows="20" id="description" name="description" ></textarea>
                
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="addProduct">Add</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
