{% extends "seller-base.html.twig" %}
{% block head %}
<script>
    $(document).ready(function(){
         $("#menuAccount").addClass("active");
    });
</script>
 
{% endblock %}
{% block main %}
    {% if seller %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">My Cash Account</h1>
            {% if account %}
        <p class="text-primary">Accout Name: <b>{{account.name}}</b></p>
        <p class="text-primary">Amount: <b>{{account.amount}} $</b></p>
        {% else %}
        <form action="/seller/account/create"  method="post">
            <label for="accountname">Account Name</label><input type="text"  name="accountname" id="accountname" class="form-control" placeholder="Account Name"  required >
            <label for="amount">Amount</label><input type="number"  name="amount" id="amount" class="form-control" placeholder="Amount" required>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="createAccount">Create Account</button>
        </form>
        {% endif %}
    </div>
        <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#cashflow">Cash Flow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#withdraw">withdraw</a>
        </li>
    </ul>
        <!-- Tab panes -->
    <div class="tab-content">
        <div id="cashflow" class="container tab-pane active"><br>
            {% if account %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Operate Time</th>
                        <th>Operate Type</th>
                        <th>Amount</th>
                        <th>Order ID</th>
                    </tr>
                </thead>
                <tbody id="cashflowBody">
                    {% if cashflows %}
                            {% for flow in cashflows %}
                            {% if flow.operateType=='deposit' %}
                            
                                <tr class="table-primary">
                                {% elseif flow.operateType=='withdraw' %}
                                <tr class="table-info">
                                {% elseif flow.operateType=='pay' %}
                                <tr class="table-warning">
                                {% elseif flow.operateType=='income' %}
                                <tr class="table-success">
                                {% else %}
                                    <tr>
                                {% endif %}
                                <td>{{flow.operateTime}}</td>
                                <td>{{flow.operateType}}</td>
                                <td><b>{% if flow.operateType=="deposit" or flow.operateType=="income"%}+{% else %}-{% endif %}</b> {{flow.amount}}</td>
                                    <td>{{flow.orderId}}</td>
                            </tr>
                            {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div id="withdraw" class="container tab-pane fade"><br>
            {% if account %}
            <form action="/seller/account/withdraw"  method="post">
                <label for="withdrawamount">Withdraw Amount</label><input type="number"  name="withdrawamount" id="withdrawamount" class="form-control" placeholder="Withdraw Amount"  required >
                <label for="owner">Account Owner</label><input type="text"  name="owner" id="owner" class="form-control" placeholder="Account Owner" required>
                <label for="accountno">Account Number</label><input type="text"  name="accountno" id="accountno" class="form-control" placeholder="Account Number" required>
                <label for="bank">Bank</label><input type="text"  name="bank" id="bank" class="form-control" placeholder="Bank Name" required>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="btnWithdraw">With Draw</button>
            </form>
            {% endif %}
        </div>
    </div>
     {% endif %}
{% endblock %}