<!DOCTYPE html>
<html>
    <head>
              <!-- Css Styles -->
        <link rel="icon" href="/images/Logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="/styles/emall.css">
        <title>{% block title %}Default{% endblock %}teamproject_emall</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
  
    <header class="emall-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
    
          <div class="col-8 text-center">
            <a class="emall-header-logo text-dark" href="#">E-Mall Sellers</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">

            {% if seller %}
            <p>Welcome back  <b>{{ seller.FirstName }} {{seller.LastName}}</b>. <a  class="btn btn-sm btn-outline-secondary"  href='/seller/logout' target='_self'>Logout</a></p>
            {% else %}
             <a  class="btn btn-sm btn-outline-secondary"  href='/seller/login' target='_self'>Sign up</a>  <a  class="btn btn-sm btn-outline-secondary"  href='/seller/register' target='_self'>Register</a>
            {% endif %}
               
          </div>
        </div>
        {% block header %}

        {% endblock %}
    </header>

        <!--header-->
    {% if seller %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="menuDashboard" class="nav-link" href="/seller">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menuPersonal" class="nav-link" href="/seller/personal">
                        <span data-feather="users"></span>
                        Personal Setting
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menuAccount" class="nav-link" href="/seller/account">
                        <span data-feather="credit-card"></span>
                        My Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menuProducts" class="nav-link" href="/seller/products">
                        <span data-feather="grid"></span>
                        My Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menuOrderInprocess" class="nav-link" href="/seller/orders">
                        <span data-feather="file-plus"></span>
                        Orders Inprocess
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  id="menuOrderHistory" class="nav-link" href="/seller/orderhistories">
                        <span data-feather="file-text"></span>
                        Orders History
                        </a>
                    </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Sales Performance</span>
                    <a class="d-flex align-items-center text-muted" href="/seller/performance">
                        <span data-feather="plus-circle"></span>
                    </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a id="menuPerformanceMonth" class="nav-link" href="/seller/performance/month">
                        <span data-feather="file-text"></span>
                        Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menuPerformanceQuarter" class="nav-link" href="/seller/performance/quarter">
                        <span data-feather="file-text"></span>
                        Current quarter
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a  id="menuPerformanceYear" class="nav-link" href="/seller/performance/year">
                        <span data-feather="file-text"></span>
                        This Year
                        </a>
                    </li>
                    </ul>
                </div>
            </nav> 

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block main %}

                {% endblock %}
            </main>
        </div>
    </div>

    {% else %}
        <P>
            Here is an advertisement for sellers.
            Welcome to E-Mall Sellers, <a  class="btn btn-sm btn-outline-secondary"  href='/seller/register' target='_self'>Register</a> to begin your business.
        </p>
    {% endif %}


    {% block footer %}

    {% endblock %}

        <!--footer--> 
</body>

</html>