{% extends "seller-base.html.twig" %}
{% block head %}
  <script>
        $(document).ready(function(){
            $("#menuDashboard").addClass("active");
            var conditions=["today","placed","shipped","month","year","total"];
            var cardTitles=["Orders Today","Orders Placed","Orders Shipped","Orders This Month","Orders This Year","Orders Total"];
           
            for(var i=0;i<conditions.length;i++)
            {
              
                loadCards(conditions[i],cardTitles[i]);
              
            }
          
        });
        function loadCards(condition,cardTitle)
        {
            $.ajax({ // FIXME: escape special characters using urlencode
                url: "/api/seller/ordersInformation/"+condition,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (ordersInfo) {
                $("#card-deck").append(
                    `<div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">${cardTitle}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">${ordersInfo["count"]}<small class="text-muted"> orders</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>${ordersInfo["productCount"]} included</li>
                                <li>${ordersInfo["total"]} dollars</li>
                            </ul>
                            </div>
                    </div>`
                );
            });

        }
        $(document).ajaxError(function(event,jqxhr,settings,trownError){
            console.log("Ajax error occured on "+settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock %}
{% block main %}
    {% if seller %}
    <div class="container">
        <div class="card-deck mb-3 text-center" id="card-deck">

        </div>
    </div>
          
    {% endif %}
{% endblock %}
