{% extends "seller-base.html.twig" %}
{% block head %}
<script>
 {% if seller %}
    var selectOrderId;
    $(document).ready(function(){
        $("#menuOrderInprocess").addClass("active");
        loadOrders("placed");
        loadOrders("paid");
        loadOrders("shipped");
        $(document).on('click', '.order tr', function (e) {
                e.stopPropagation();
                var currentRow=$(this).closest("tr"); 
                var id=  currentRow.attr("order-id");

                if("0"==id)
                {
                    clearOrderItems();
                }
                else
                {
                    selectOrderId=id;
                    loadOrderItems(id);
                }
        });
        $(".nav-link").click(function(){
              clearOrderItems();
        });
        $("#btnShipped").click(function(){
            if(selectOrderId)
            {
                var orderObj={orderStatus:"shipped"};
                $.ajax({ 
                url: "/api/seller/orders/"+selectOrderId,
                type: "PUT",
                dataType: "json",
                data: JSON.stringify(orderObj),
                error: function (jqxhr, status, errorThrown) {
                    
                        alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
                
                }
                }).done(function (orders) {
                loadOrders("paid");
                loadOrders("shipped");
                }).always(function () {
                    clearOrderItems();
                });
            }
        });
    });
    function loadOrders(status)
    {

         $.ajax({ 
            url: "/api/seller/orders/"+status,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            
            }
        }).done(function (orders) {
            var destTableBody;
            switch (status) {
                case "placed":
                    destTableBody=$("#orderPlacedBody");
                    break;
               case "paid":
                    destTableBody=$("#orderPaidBody");
                    break;
               case "shipped":
                    destTableBody=$("#orderShippedBody");
                    break;
                default:
                    break;
            }
            if(destTableBody)
            {
                 $(destTableBody).html("");
                orders.forEach(order => {
                    var row= `<tr order-id="${order.id}">
                                <td>${order.buyerName}</td>
                                <td>${order.orderTime}</td>
                                <td>${order.total}</td>
                                <td>${order.recieverName}</td>
                                <td>${order.shippingAddress}</td>
                                <td>${order.postalcode}</td>
                                <td>${order.phoneNo}</td>
                            </tr>`;
                    $(destTableBody).append(row);
                
                });
            }

        }).always(function () {
            
            
            
        });
    

    }
    
    function loadOrderItems(orderId)
    {
         $.ajax({ 
            url: "/api/seller/orderitems/"+orderId,
            type: "GET",
            dataType: "json",
            error: function (jqxhr, status, errorThrown) {
                
                    alert("AJAX error: " + jqxhr.responseText + ", status: " + jqxhr.status);
            
            }
        }).done(function (orderItems) {
            $("#orderItems").html("");
           
            orderItems.forEach(item => {
                var row= `<tr orderitem-id="${item.id}">
                            <td>${item.productName}</td>
                            <td>${item.unitPrice}</td>
                            <td>${item.buyPrice}</td>
                            <td>${item.buyCount}</td>
                            <td>${item.subtotal}</td>
                        </tr>`;
                $("#orderItems").append(row);
            });
            $("#divOrderItems").removeClass("invisible");
            $("#divOrders").removeClass("col-lg-12")
            $("#divOrders").addClass("col-lg-8")
          

        }).always(function () {
            
            
            
        });

    }
    function clearOrderItems()
    {
        
        $("#orderItems").html("");
        $("#divOrderItems").addClass("invisible");
     
         $("#divOrders").removeClass("col-lg-8")
         $("#divOrders").addClass("col-lg-12")
       
        selectOrderId=0;
     }

 {% endif %}
</script>
{% endblock %}

{% block main %}
    {% if seller %}
                     <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h3 class="display-4">Orders Inprocess</h3>
                    </div>
                    <div class="container-fluid">
                    <div class="row">
                        <div id="divOrders" class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#orderPlaced">Placed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#orderPaid">Paid</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#orderShipped">Shipped</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="orderPlaced" class="container-fluid tab-pane active border border-light">
                                    <table class="table order table-striped table-hover table-bordered">
                                        <thead>
                                            <tr order-id="0">
                                                <th>Buyer Name</th>
                                                <th>Order Time</th>
                                                <th>Total</th>
                                                <th>Reciever Name</th>
                                                <th>Shipping Address</th>
                                                <th>Postal Code</th>
                                                <th>Phone Number</th>
                                            </tr>
                                        </thead>
                                        <tbody id="orderPlacedBody">
                                        
                                        </tbody>
                                    </table>
                                </div>
                                <div id="orderPaid" class="container-fluid tab-pane border border-light">
                                    <button type="button" class="btn btn-primary" id="btnShipped">Shipped</button>
                                    <table class="table order table-striped table-hover table-bordered">
                                        <thead>
                                            <tr order-id="0">
                                                <th>Buyer Name</th>
                                                <th>Order Time</th>
                                                <th>Total</th>
                                                <th>Reciever Name</th>
                                                <th>Shipping Address</th>
                                                <th>Postal Code</th>
                                                <th>Phone Number</th>
                                            </tr>
                                        </thead>
                                        <tbody id="orderPaidBody">
                                        
                                        </tbody>
                                    </table>
                                </div>
                                <div id="orderShipped" class="container-fluid tab-pane border border-light">
                                    <table class="table order table-striped table-hover table-bordered">
                                        <thead>
                                            <tr order-id="0">
                                                <th>Buyer Name</th>
                                                <th>Order Time</th>
                                                <th>Total</th>
                                                <th>Reciever Name</th>
                                                <th>Shipping Address</th>
                                                <th>Postal Code</th>
                                                <th>Phone Number</th>
                                            </tr>
                                        </thead>
                                        <tbody id="orderShippedBody">
                                        
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div id="divOrderItems" class="col-lg-4 invisible border border-light">
                            <p>Order Items</p>
                            <table class="table orderItem table-striped table-bordered">
                                <thead>
                                    <tr orderitem-id="0">
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Buy Price</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                     </tr>
                                </thead>
                                <tbody id="orderItems">
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
     {% endif %}
{% endblock %}
