.body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width:100% !important;

}

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Lato', sans-serif;
}

.emall-header-bg {

    background-color: #aed5f9;/* rgb(121, 121, 241);*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.emall-nav
{
    color: white;
    font-weight: bold;
    font-size: 18pt;
    font-family: "Arial Black";
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
    display: inline;
}
.nav-item {
    margin:auto !important;
}
.nav-link:hover{
    color: white;
}


.emall-header-space
{
    height: 30px;
}
.trade-show-space
{

    height: 525px;

}

.trade-show
{
    height: 500px;
}
.emall-bg{
    background-color:white;
}
.emall-item-bg{
    background-image:linear-gradient(to right,#1063b0,#6581aa,#aed5f9);
    padding-top: 8px;
    height: 40px;
}
.emall-item-text{
    font-family: "Arial Black";
    font-size: 12pt;
    color: #ffffff;

}
.emall-img
{
    width: 100%;
    height: 500px;
}
.emall-footer
{
    background-color:  #aed5f9;

}
.slick-prev:before, .slick-next:before{
    color:#1063b0;
}
.white{
    color: white;
}
.blue
{
    color:blue;
}
.brown
{
    color:#965318;
}

.black {
    color: black;
}
.bold
{
    font-weight: bold;

}
.big
{
    font-size: 16pt;
}
.emall-margin-top{
    margin-top: 10px;
}
.emall-margin-bottom{
    margin-bottom: 10px;
}
.emall-white-line
{
    height: 2px;
    background-color: white;
}
.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

/******  index *******/
.sideul {
    list-style: none;
    
}
.sidebar {
    background-color: rgb(223, 237, 241);
}
/****** sidebar dropdown *******/

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: blue;
    padding: 2px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #c3d4c4;}

  /******* end sidebar dropdown *********/
form {
    max-width: 400px;
    margin:2px auto;
    border:1px solid  rgb(223, 237, 241);
    padding: 2px;
}

.pageDiv li {
    list-style: none;
    display: inline;
}

.emall-button {
    width:100px;
    background-color: #aed5f9;
    margin:0 auto;
}

/**************** product list **************/
#productList li {
    display:inline-block;
    
}

.li-img img {
    border: 2px groove #b4d6f6;
    box-shadow: 1px 2px 2px 2px blue;
    margin:10px;
}
.li-img img:hover {
    transform: scale(1.1, 1.1);        
    box-shadow: 0 0 7px 3px mediumpurple;
}

.li-img figcaption:hover {
transform: scale(1.1, 1.1);
border: 1px groove mediumpurple;
box-shadow: 0 0 7px 3px mediumpurple;
}

.addtocart {
    color: black;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 135px;
    border: solid 1px #ccc;
    background:lightblue url(/images/cart.png) no-repeat 1px 7px;
    background-size: 15px;
    padding-left: 15px;
}
#itemCount {
    position: absolute;
    top: -12px;
    text-align: center;
    height: 1.2em;
    width: 1.2em;
    background-color: #35b6e9;
    color: #fff;
    color: var(--cd-color-3);
    font-size: .83333em;
    font-size: var(--text-sm);
    font-weight: 700;
    border-radius: 50%;
    text-indent: 0;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.table-cart {
    border-collapse: collapse;
    width: 100%;
}

.table-cart tr {
    border-bottom: 1px solid #ccc;
}

.table-cart th {
    text-align: left;    
}

/************ order confirmation ***************/
.lbl {
    display: inline-block;
    width:120px;
}

.input {
    display: inline-block;
    width:260px;
    padding:1px;
}

/*********** product review *****************/
.grayOut-review { 
    position: fixed;
    z-index: 2; /* above everything else */
    top:0; left:0; bottom:0; right:0; display: none;
    background:rgba(0,0,0,.5); 
}
  
#msgBox {
    width:400px; 
    margin:50px auto;
    padding:10px 0;
    background-color: rgb(223, 237, 241);
    text-align:center;
    border:1px solid gray;
    border-radius: 10px;
}

/************** product page ****************/
.stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }
  .stars-inner-review {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  .stars-inner-review::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }